<div class="easyui-layout" data-options="fit:true,border:false">
    <div data-options="region:'center'">
        <div class="easyui-layout" data-options="fit:true">
            <div data-options="region:'north',split:true" style="height: 56px; padding: 10px;">
                <form class="top-search-form">
                <input type="hidden" name="CommunityID">
                <input type="hidden" name="VillageID">
                <input type="hidden" name="HouseID">
                <table>
                    <tr>
                        <td>
                            房源：<input class="easyui-combotree" data-options="
                    					url:'/YSService/BaseInfoService/GetTree3',
                                        method:'get',
                                        animate:true,
                                        panelHeight: 'auto',
                                        panelWidth: 300,
                                        valueField:'id',
                                        textField:'text',
                                        onClick: ys.modules.Contract.onRoomTreeChange
                             " style="width: 200px;">
                        </td>
                        <td>
                            合同编号：<input name="ContractNo" class="f1 easyui-textbox" style="width: 100px">
                        </td>
                        <td>
                            合同状态：
                            <select name="ContractStatus" class="f1 easyui-combobox">
                                <option value="1">正常</option>
                                <option value="2">中途结束</option>
                                <option value="0">正常完结</option>
                            </select>
                        </td>
                        <td>
                            业主姓名：<input name="OwnerName" class="f1 easyui-textbox" style="width: 70px">
                        </td>
                        <td>
                            业主电话：<input name="OwnerPhone" class="f1 easyui-textbox" style="width: 70px">
                        </td>
                        <td>
                            <td>
                                <input type="button" onclick="ys.modules.Contract.loadMainData()" value="查询">
                            </td>
                    </tr>
                </table>
                </form>
            </div>
            <div data-options="region:'center'">
                <table class="main">
                </table>
            </div>
            <div data-options="region:'south',split:true" style="height: 300px;">
                <div class="easyui-tabs" data-options="fit:true,border:false,plain:true">
                    <div title="付款信息">
                        <table class="sub">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="editContractDlg" class="easyui-dialog" style="width: 700px;" modal="true"
    closed="true" data-options="buttons: '#editContractDlgBtns'">
    <div style="padding: 10px 20px 20px 20px">
        <form id="fm" method="post" novalidate>
        <input name="ContractID" type="hidden">
        <input name="ContractStatus" type="hidden">
        <fieldset>
            <legend>房源信息</legend>
            <table cellpadding="1">
                <tr>
                    <td>
                        房源:
                    </td>
                    <td colspan="5">
                        <input name="HouseID" class="easyui-combotree" style="width: 500px;" data-options="
                                url:'/YSService/BaseInfoService/GetTree3',
                                method:'get',
                                animate:true,
                                panelHeight: 'auto',
                                panelWidth: 300,
                                valueField:'id',
                                textField:'text',
                                onClick: ys.modules.Contract.onDlgRoomTreeChange,
                                required:true
                            " style="width: 200px;">
                    </td>
                </tr>
                <tr>
                    <td>
                        小区地址:
                    </td>
                    <td>
                        <input name="HouseInfo.Address" class="easyui-textbox" style="width: 500px;" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        所在楼层:
                    </td>
                    <td>
                        <input name="HouseInfo.Floor" class="easyui-textbox" style="width: 50px;" readonly><span
                            class="label">楼</span> <span class="label">共</span><input name="HouseInfo.FloorCount"
                                class="easyui-textbox" style="width: 50px;" readonly><span class="label">楼</span>
                        <span class="label">面积</span><input name="HouseInfo.Area" class="easyui-textbox"
                            style="width: 50px;" readonly><span class="label">平方米</span> <span class="label">房屋特色:</span><input
                                name="HouseInfo.HouseDetail" class="easyui-textbox" style="width: 130px;" readonly>
                    </td>
                </tr>
            </table>
        </fieldset>
        <fieldset>
            <legend>业主信息</legend>
            <table cellpadding="1">
                <tr>
                    <td>
                        业主姓名:
                    </td>
                    <td>
                        <input name="OwnerInfo.OwnerName" class="easyui-textbox" style="width: 212px;" readonly>
                    </td>
                    <td>
                        联系电话:
                    </td>
                    <td>
                        <input name="OwnerInfo.Phone" class="easyui-textbox" style="width: 212px;" readonly>
                    </td>
                </tr>
            </table>
        </fieldset>
        <fieldset>
            <legend>合同信息</legend>
            <table cellpadding="1">
                <tr>
                    <td align="right">
                        合同编号:
                    </td>
                    <td>
                        <input name="ContractNo" class="easyui-textbox" style="width: 100px;" data-options="required:true">
                    </td>
                    <td align="right">
                        收房员:
                    </td>
                    <td>
                        <input class="easyui-combobox" name="SendeeID" style="width: 100px" data-options="
                               loader: ys.loaders.sendeeLoader,
                                valueField:'SendeeID',
                                textField:'SendeeName',
                                panelHeight:'auto',
                                required:true
                        ">
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        租金元/月:
                    </td>
                    <td>
                        <input name="Rent" class="easyui-textbox" style="width: 100px;" data-options="required:true">
                    </td>
                    <td align="right">
                        押金(元/月):
                    </td>
                    <td>
                        <input name="Deposit" class="easyui-numberbox" style="width: 100px;" data-options="required:true">
                    </td>
                    <td>
                        付款方式:
                    </td>
                    <td>
                        押<select name="DepositCout" class="easyui-combobox" data-options="required:true"
                            style="width: 50px;"><option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                        付<select name="PayCout" class="easyui-combobox" data-options="required:true" style="width: 50px;"><option
                            value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="6">6</option>
                            <option value="12">12</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        合同开始日:
                    </td>
                    <td>
                        <input name="BeginDate" class="easyui-datebox" style="width: 100px;" data-options="required:true">
                    </td>
                    <td align="right">
                        合同结束日:
                    </td>
                    <td>
                        <input name="EndDate" class="easyui-datebox" style="width: 100px;" data-options="required:true">
                    </td>
                    <td align="right">
                        免租期:
                    </td>
                    <td>
                        <input name="FreeDate" class="easyui-numberbox" style="width: 50px;" value="0">天
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        付款提前天数:
                    </td>
                    <td>
                        <input name="AdvanceDays" class="easyui-numberbox" style="width: 100px;" data-options="required:true"
                            value="10">
                    </td>
                    <td>
                    </td>
                    <td>
                        <input type="checkbox" name="IsAdd">每年递增：
                    </td>
                    <td>
                        递增金额:
                    </td>
                    <td>
                        <input name="AddNumber" class="easyui-numberbox" style="width: 50px;">元
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        支付银行：
                    </td>
                    <td>
                        <input name="BankName" class="easyui-textbox" style="width: 100px;">
                    </td>
                    <td align="right">
                        收款人:
                    </td>
                    <td>
                        <input name="Payee" class="easyui-textbox" style="width: 100px;">
                    </td>
                    <td align="right">
                        卡号:
                    </td>
                    <td>
                        <input name="BankCard" class="easyui-textbox" style="width: 150px;">
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        收款人关系:
                    </td>
                    <td colspan="5">
                        <input class="easyui-combobox" name="Nexus" style="width: 100px;" data-options="
									data:ys.Constant.NEXUS,
									method:'get',
									valueField:'id',
									textField:'text',
									required:true,
									panelHeight:'auto'
							">
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        备注:
                    </td>
                    <td colspan="5">
                        <textarea name="Remarks" class="textarea easyui-validatebox" style="width: 500px;"></textarea>
                    </td>
                </tr>
            </table>
        </fieldset>
        </form>
    </div>
</div>
<div id="editContractDlgBtns">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" iconcls="icon-ok" onclick="ys.modules.Contract.saveMainItem()"
        style="width: 90px">保存</a> <a href="javascript:void(0)" class="easyui-linkbutton"
            iconcls="icon-cancel" onclick="javascript:$('.easyui-dialog').dialog('close')"
            style="width: 90px">取消</a>
</div>
<div id="addOwnerPaymentDlg" class="easyui-dialog" style="width: 500px; padding: 10px 20px"
    modal="true" closed="true" buttons="#addOwnerPaymentDlgBtns">
    <form novalidate>
    <input name="FineID" type="hidden">
    <input name="ContractID" type="hidden">
    <div class="fitem">
        <label>
            付款类型:</label>
        <select name="FineType" class="easyui-combobox" data-options="required:true" style="width: 300px;">
            <option value="1">收入</option>
            <option value="2">支出</option>
        </select>
    </div>
    <div class="fitem">
        <label>
            摘要:</label>
        <input name="FineName" class="easyui-textbox" style="width: 300px;" data-options="required:true">
    </div>
    <div class="fitem">
        <label>
            应付日期:</label>
        <input name="PayDate" class="easyui-datebox" style="width: 300px;" data-options="required:true">
    </div>
    <div class="fitem">
        <label>
            应付金额(元):</label>
        <input name="Pay" class="easyui-numberbox" style="width: 300px;" data-options="precision:2, required:true">
    </div>
    <div class="fitem">
        <label>
            付款类型:</label>
        <input class="easyui-combobox" name="HouseCostTypeID" style="width: 300px;" data-options="
                    loader: ys.loaders.houseCostTypeLoader,
                    valueField:'HouseCostTypeID',
                    textField:'HouseCostTypeName',
                    required: true,
                    panelHeight:'auto'
            ">
    </div>
    <div class="fitem">
        <label>
            支付对象:</label>
        <input name="Payee" class="easyui-textbox" style="width: 300px;" data-options="required:true">
    </div>
    <div class="fitem">
        <label>
            备注:</label>
        <textarea name="Remarks" class="easyui-textarea" style="width: 300px;"></textarea>
    </div>
    </form>
</div>
<div id="addOwnerPaymentDlgBtns">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" iconcls="icon-ok" onclick="ys.modules.Contract.savePayment()"
        style="width: 90px">保存</a> <a href="javascript:void(0)" class="easyui-linkbutton"
            iconcls="icon-cancel" onclick="javascript:$('.easyui-dialog').dialog('close')"
            style="width: 90px">取消</a>
</div>
<div id="editOwnerPayInfoDlg" class="easyui-dialog" style="width: 500px; padding: 10px 20px"
    modal="true" closed="true" buttons="#editOwnerPayInfoDlgBtns">
    <form novalidate>
    <input name="FineID" type="hidden">
    <div class="fitem">
        <label>
            付款日期:</label>
        <input name="ActualPayDate" class="easyui-datebox" style="width: 300px;" data-options="required:true">
    </div>
    <div class="fitem">
        <label>
            付款金额(元):</label>
        <input name="ActualPay" class="easyui-numberbox" style="width: 300px;" data-options="precision:2, required:true">
    </div>
    <div class="fitem">
        <label>
            收款人:</label>
        <input name="Payee" class="easyui-textbox" style="width: 300px;" data-options="required:true">
    </div>
    <div class="fitem">
        <label>
            备注:</label>
        <textarea name="Remarks" class="easyui-textarea" style="width: 300px;"></textarea>
    </div>
    </form>
</div>
<div id="editOwnerPayInfoDlgBtns">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" iconcls="icon-ok" onclick="ys.modules.Contract.saveSubData()"
        style="width: 90px">保存</a> <a href="javascript:void(0)" class="easyui-linkbutton"
            iconcls="icon-cancel" onclick="javascript:$('.easyui-dialog').dialog('close')"
            style="width: 90px">取消</a>
</div>
<script>
    ys.modules.Contract = (function () {
        function loadMainData() {
            var params = $.form2JsonNotNull($('#contractTab').find('.top-search-form'));
            $.ajax({
                url: '/YSService/ContractService/GetDataList',
                method: 'POST',
                data: JSON.stringify(params),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (resp) {
                    $.each(resp, function (i, item) {
                        item['BeginDate'] = $.wcfDate2JsDateStr(item['BeginDate']);
                        item['EndDate'] = $.wcfDate2JsDateStr(item['EndDate']);
                        item['CreateDate'] = $.wcfDate2JsDateStr(item['CreateDate']);
                        item['PayDate'] = $.wcfDate2JsDateStr(item['PayDate']);
                    });
                    $('#contractTab').find('table.main').datagrid('loadData', {
                        total: resp.length,
                        rows: resp
                    });
                    $('#contractTab').find('table.sub').datagrid('loadData', { total: 0, rows: [] });
                },
                error: function (XMLHttpRequest, textStatus, thrownError) {
                    alert("Error Occured!");
                }
            });
        };

        function onRoomTreeChange(node) {
            var form = $('#contractTab').find('.top-search-form');
            if (node.type == 'community') {
                form.form('load', { CommunityID: node.id, VillageID: '', HouseID: '', RoomID: '' });
            } if (node.type == 'village') {
                form.form('load', { CommunityID: '', VillageID: node.id, HouseID: '', RoomID: '' });
            } if (node.type == 'house') {
                form.form('load', { CommunityID: '', VillageID: '', HouseID: node.id, RoomID: '' });
            }
        };

        function onDlgRoomTreeChange(node) {
            var dlg = $('#editContractDlg'), form = dlg.find('form');
            if (node.type != 'house') {
                form.find('.easyui-combotree').treegrid("unselect");
                return false;
            }
            $.ajax({
                url: '/YSService/HouseService/GetDataList',
                method: 'POST',
                data: JSON.stringify({ HouseID: node.id }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (resp) {
                    var house = resp[0];
                    form.form('load', {
                        'HouseInfo.Address': house.Address,
                        'HouseInfo.Area': house.Area,
                        'HouseInfo.HouseDetail': house.HouseDetail,
                        'HouseInfo.Floor': house.Floor,
                        'HouseInfo.FloorCount': house.FloorCount,
                        'OwnerInfo.OwnerName': house.OwnerName,
                        'OwnerInfo.Phone': house.Phone
                    });
                },
                error: function (XMLHttpRequest, textStatus, thrownError) {
                    alert("Error Occured!");
                }
            });
        };

        function saveMainItem() {
            var dlg = $('#editContractDlg'), form = dlg.find('form');
            if (!form.form('validate')) return;
            var formData = form.serializeArray();
            var data = {};
            $.each(formData, function (i, v) {
                if (v.name == 'BeginDate' || v.name == 'EndDate' || v.name == 'CreateDate' || v.name == 'PayDate') {
                    data[v.name] = $.jsDateStr2WcfDate(v.value);
                } else {
                    data[v.name] = v.value;
                }
            });
            var url = '/YSService/ContractService/Add';
            if (data['ContractID'] != '0') {
                url = '/YSService/ContractService/Update';
            }
            data.IsAdd = data.IsAdd == 'on' ? 1 : 0;
            $.ajax({
                url: url,
                type: "POST",
                data: JSON.stringify(data),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (msg) {
                    loadMainData();
                    dlg.dialog('close');
                },
                error: function (XMLHttpRequest, textStatus, thrownError) {
                    alert("Error Occured!");
                }
            });
        };

        function cancelContract() {
            var mainTbl = $('#contractTab').find('table.main');
            if (mainTbl.datagrid('getSelections').length < 1) {
                $.messager.alert('提示', '请先选择要编辑的数据', 'info');
                return;
            }
            var data = mainTbl.datagrid('getSelected');
            $.messager.confirm('确认', '确认作废该合同?', function (r) {
                if (r) {
                    $.ajax({
                        url: '/YSService/ContractService/CancelContract',
                        method: 'POST',
                        data: JSON.stringify({ ContractID: data.ContractID }),
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (resp) {
                            $.messager.alert('提示', '已作废合同！', 'success');
                            loadMainData();
                        },
                        error: function (XMLHttpRequest, textStatus, thrownError) {
                            alert("Error Occured!");
                        }
                    });
                }
            });
        };

        function stopContract() {
            var mainTbl = $('#contractTab').find('table.main');
            if (mainTbl.datagrid('getSelections').length < 1) {
                $.messager.alert('提示', '请先选择要编辑的数据', 'info');
                return;
            }
            var data = mainTbl.datagrid('getSelected');
            $.messager.confirm('确认', '确认终止该合同?', function (r) {
                if (r) {
                    $.ajax({
                        url: '/YSService/ContractService/StopContract',
                        method: 'POST',
                        data: JSON.stringify({ ContractID: data.ContractID }),
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (resp) {
                            $.messager.alert('提示', '已终止合同！', 'success');
                            loadMainData();
                        },
                        error: function (XMLHttpRequest, textStatus, thrownError) {
                            alert("Error Occured!");
                        }
                    });
                }
            });
        };

        function loadSubData(params) {
            $.ajax({
                url: '/YSService/PaymentService/GetPaymentList_YZ',
                method: 'POST',
                data: JSON.stringify({ intContractID: params.ContractID }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (resp) {
                    $.each(resp, function (i, item) {
                        item['ActualPayDate'] = $.wcfDate2JsDateStr(item['ActualPayDate']);
                        item['PayDate'] = $.wcfDate2JsDateStr(item['PayDate']);
                        item['CreateDate'] = $.wcfDate2JsDateStr(item['CreateDate']);
                    });
                    $('#contractTab').find('table.sub').datagrid('loadData', {
                        total: resp.length,
                        rows: resp
                    });
                },
                error: function (XMLHttpRequest, textStatus, thrownError) {
                    alert("Error Occured!");
                }
            });
        };

        function savePayment() {
            var dlg = $('#addOwnerPaymentDlg'), form = dlg.find('form');
            if (!form.form('validate')) return;
            var formData = form.serializeArray();
            var data = {};
            $.each(formData, function (i, v) {
                if (v.name == 'ActualPayDate' || v.name == 'PayDate' || v.name == 'CreateDate') {
                    data[v.name] = $.jsDateStr2WcfDate(v.value);
                } else {
                    data[v.name] = v.value;
                }
            });
            var url = '/YSService/PaymentService/InsertPaymentInfo_YZ';
            $.ajax({
                url: url,
                type: "POST",
                data: JSON.stringify(data),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (msg) {
                    loadSubData(data);
                    dlg.dialog('close');
                },
                error: function (XMLHttpRequest, textStatus, thrownError) {
                    alert("Error Occured!");
                }
            });
        }

        function saveSubData() {
            var dlg = $('#editOwnerPayInfoDlg'), form = dlg.find('form');
            if (!form.form('validate')) return;
            var formData = form.serializeArray();
            var data = {};
            $.each(formData, function (i, v) {
                if (v.name == 'ActualPayDate' || v.name == 'PayDate' || v.name == 'CreateDate') {
                    data[v.name] = $.jsDateStr2WcfDate(v.value);
                } else {
                    data[v.name] = v.value;
                }
            });
            var url = '/YSService/PaymentService/UpdatePaymentInfo_YZ';
            $.ajax({
                url: url,
                type: "POST",
                data: JSON.stringify(data),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (msg) {
                    loadSubData(data);
                    dlg.dialog('close');
                },
                error: function (XMLHttpRequest, textStatus, thrownError) {
                    alert("Error Occured!");
                }
            });
        };

        function auditPay() {
            var tbl = $('#contractTab').find('table.sub');
            if (tbl.datagrid('getSelections').length < 1) {
                $.messager.alert('提示', '请先选择要审核的付款记录', 'info');
                return;
            }
            var data = tbl.datagrid('getSelected');
            $.messager.confirm('确认', '确认审核通过此付款记录?', function (r) {
                if (r) {
                    var url = '/YSService/ContractService/CheckContractPayRentInfo';
                    $.ajax({
                        url: url,
                        type: "POST",
                        data: JSON.stringify({ PayRentID: data.PayRentID, IsCheck: 1 }),
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (msg) {
                            loadSubData(data);
                        },
                        error: function (XMLHttpRequest, textStatus, thrownError) {
                            alert("Error Occured!");
                        }
                    });
                }
            });
        };

        function unauditPay() {
            var tbl = $('#contractTab').find('table.sub');
            if (tbl.datagrid('getSelections').length < 1) {
                $.messager.alert('提示', '请先选择要审核的付款记录', 'info');
                return;
            }
            var data = tbl.datagrid('getSelected');
            $.messager.confirm('确认', '确认取消审核此付款记录?', function (r) {
                if (r) {
                    var url = '/YSService/ContractService/CheckContractPayRentInfo';
                    $.ajax({
                        url: url,
                        type: "POST",
                        data: JSON.stringify({ PayRentID: data.PayRentID, IsCheck: 0 }),
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (msg) {
                            loadSubData(data);
                        },
                        error: function (XMLHttpRequest, textStatus, thrownError) {
                            alert("Error Occured!");
                        }
                    });
                }
            });
        };

        return {
            loadMainData: loadMainData,
            onRoomTreeChange: onRoomTreeChange,
            onDlgRoomTreeChange: onDlgRoomTreeChange,
            saveMainItem: saveMainItem,
            cancelContract: cancelContract,
            stopContract: stopContract,
            loadSubData: loadSubData,
            saveSubData: saveSubData,
            auditPay: auditPay,
            unauditPay: unauditPay,
            savePayment: savePayment
        };
    })();


    window.grid.cfg.contract = {
        singleSelect: true,
        region: 'center',
        rownumbers: true,
        pagination: true,
        fit: true,
        columns: [[
            { field: 'CommunityName', title: '社区名称', width: 100, formatter: function (v, r) { return r.HousInfo.CommunityName; } },
            { field: 'ContractNo', title: '合同编号', width: 100 },
            { field: 'ContractStatusName', title: '状态', width: 100 },
            { field: 'HouseNo', title: '房源编号', width: 100, formatter: function (v, r) { return r.HousInfo.HouseNO; } },
            { field: 'OwnerName', title: '业主姓名', width: 70, formatter: function (v, r) { return r.OwnerInfo.OwnerName; } },
            { field: 'OwnerPhone', title: '业主电话', width: 100, formatter: function (v, r) { return r.OwnerInfo.Phone; } },
            { field: 'Rent', title: '房屋租金(元)', width: 80 },
            { field: 'Deposit', title: '房屋押金(元)', width: 80 },
            { field: 'AdvanceDays', title: '付款提前天数', width: 80 },
{ field: 'LastPayDate', title: '上次付款日期', width: 70 },
            { field: 'NextPayDate', title: '下次付款日期', width: 90 },
            { field: 'BeginDate', title: '开始时间', width: 90 },
            { field: 'EndDate', title: '结束时间', width: 90 },
            { field: 'SendeeName', title: '收房员', width: 100 },
{ field: 'PayStatusName', title: '付款状态', width: 100 }
        ]],
        onSelect: function (i, data) {
            ys.modules.Contract.loadSubData(data);
        },
        toolbar: [{
            id: '',
            text: '新增',
            iconCls: 'icon-add',
            handler: function () {
                var dlg = $('#editContractDlg'), form = dlg.find('form');
                dlg.dialog('open').dialog('center').dialog('setTitle', '新增合同');
                form.form('clear');
                var start = new Date();
                start = $.jsDate2jsDateStr(start);
                var end = new Date();
                end.setFullYear(end.getFullYear() + 1);
                end = $.jsDate2jsDateStr(end);
                form.form('load', { ContractID: 0, ContractStatus: 1, DepositCout: 1, PayCout: 3, BeginDate: start, EndDate: end });
            }
        }, "-", {
            id: '',
            text: '作废',
            iconCls: 'icon-cancel',
            handler: ys.modules.Contract.cancelContract
        }, "-", {
            id: '',
            text: '终止',
            iconCls: 'icon-ok',
            handler: ys.modules.Contract.stopContract
        }, "-"]
    };

    window.grid.cfg.contractSub = {
        singleSelect: true,
        rownumbers: true,
        columns: [[
            { field: 'FineType', title: '类别', width: 50, formatter: function (v) { return v == 1 ? '收入' : '支出' } },
            { field: 'FineName', title: '摘要', width: 150 },
            { field: 'PayStatusName', title: '付款状态', width: 70 },
            { field: 'PayDate', title: '应付日期', width: 80 },
            { field: 'Pay', title: '应付金额(元)', width: 70 },
            { field: 'ActualPayDate', title: '实付日期', width: 80 },
            { field: 'ActualPay', title: '实付金额(元)', width: 70 },
            { field: 'HouseCostTypeName', title: '付款类型', width: 70 },
{ field: 'BankName', title: '银行名称', width: 70 },
{ field: 'BankCard', title: '卡号', width: 70 },
            { field: 'Payee', title: '支付对象', width: 70 },
            { field: 'Remarks', title: '备注', width: 100 },
            { field: 'IsCheck', title: '已审核', width: 70, formatter: function (v) { return v ? '是' : '否'; } }
        ]],
        toolbar: [{
            id: '',
            text: '新增',
            iconCls: 'icon-add',
            handler: function () {
                var mainTbl = $('#contractTab').find('table.main');
                if (mainTbl.datagrid('getSelections').length < 1) {
                    $.messager.alert('提示', '请先选择一条合同记录', 'info');
                    return;
                }
                var contract = mainTbl.datagrid('getSelected');

                var dlg = $('#addOwnerPaymentDlg'), form = dlg.find('form');
                dlg.dialog('open').dialog('center').dialog('setTitle', '新增合同付款');
                form.form('clear');
                form.form('load', { ContractID: contract.ContractID, FineID: 0 });
            }
        }, "-", {
            text: '付款',
            iconCls: 'icon-edit',
            handler: function () {
                var dlg = $('#editOwnerPayInfoDlg'), form = dlg.find('form'), tbl = $('#contractTab').find('table.sub');
                if (tbl.datagrid('getSelections').length < 1) {
                    $.messager.alert('提示', '请先选择要编辑的数据', 'info');
                    return;
                }
                $('#editOwnerPayInfoDlg').dialog('open').dialog('center').dialog('setTitle', '付款');
                form.form('load', tbl.datagrid('getSelected'));
            }
        }, {
            text: '审核通过',
            iconCls: 'icon-ok',
            handler: ys.modules.Contract.auditPay
        }, {
            text: '取消审核',
            iconCls: 'icon-cancel',
            handler: ys.modules.Contract.unauditPay
        }]
    };

    ys.modules.Contract.loadMainData();
</script>
