<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north',split:true" style="height:56px;padding:10px;">
        <form class="top-search-form">
            <input type="hidden" name="CommunityID">
            <input type="hidden" name="VillageID">
            <table>
                <tr>
                    <td>楼盘：<input class="easyui-combotree" data-options="
                    					url:'/YSService/BaseInfoService/GetTree2',
                                        method:'get',
                                        animate:true,
                                        panelHeight: 'auto',
                                        panelWidth: 300,
                                        valueField:'id',
                                        textField:'text',
                                        onClick: ys.modules.House.onRoomTreeChange
                             " style="width:200px;">
                    </td>
                    <td> 状态：<select name="HouseStatus" >
                        <option value="">--全部--</option>
                        <option value="1">签约收房</option>
                        <option value="2">信息交接</option>
                        <option value="3">装修方案</option>
                        <option value="4">拍照上传</option>
                        <option value="5">定价上线</option></select>
                    </td>
                    <td> 业主姓名：<input class="easyui-textbox" name="OwnerName" style="width:100px;"></td>
                    <td> 业主电话：<input class="easyui-textbox" name="Phone" style="width:100px;"></td>
                    <td><input type="button" value="查询" onclick="ys.modules.House.loadMainData()"></td>
                </tr>
            </table>
        </form>
    </div>
    <div data-options="region:'center'"><table class="main"></table></div>
    <div data-options="region:'south',split:true" style="height:300px;">
        <div class="easyui-tabs" data-options="fit:true,border:false">
            <div title="房间信息"><table class="subRoom"></table></div>
            <div title="水电煤"><table class="subPay"></table></div>
        </div>
    </div>
</div>

<div id="editHouseDlg" class="easyui-dialog" style="width:750px;" modal="true"
     closed="true" data-options="buttons: '#editHouseDlgBtns'">
    <div style="padding:10px 60px 20px 60px">
        <form  method="post" novalidate>
            <input name="HouseID" type="hidden">
            <table cellpadding="5">
                <tr>
                    <td>房源编号:</td>
                    <td colspan=5><input name="HouseNO" class="easyui-textbox" data-options="required:true"></td>
                </tr>
                <tr>
                    <td>所属社区:</td>
                    <td><input class="easyui-combobox"
                               name="CommunityID"
                               style="width:300px"
                               data-options="
                            loader: ys.loaders.communityLoader,
                            onSelect: ys.modules.House.onCommunityChange,
                            valueField:'CommunityID',
                            textField:'CommunityName',
                            panelHeight:'auto',
                            required:true
                    "></td>
                </tr>
                <tr>
                    <td>所属小区:</td>
                    <td><input class="easyui-combobox"
                               id=""
                               name="VillageID"
                               style="width:300px"
                               data-options="
                            valueField:'VillageID',
                            textField:'VillageName',
                            panelHeight:'auto',
                            required:true
                    "></td>
                </tr>
                <tr>
                    <td>详细地址:</td>
                    <td colspan=5><input name="Address" class="easyui-textbox"></td>
                </tr>
                <tr>
                    <td>所在楼层:</td>
                    <td>
                        <input name="Floor" class="easyui-numberbox" style="width:70px;"><span class="label">楼</span>
                        <span class="label">共</span><input name="FloorCount" class="easyui-numberbox" style="width:70px;"><span class="label">楼</span>
                        <span class="label">电梯:</span>
                        <select class="easyui-combobox" name="Elevator" data-options="required:true">
                            <option value="1">有</option>
                            <option value="0">无</option>
                        </select>
                        <span class="label">物业类型:</span>
                        <input class="easyui-combobox"
                               name="HouseType"
                               data-options="
                            required:true,
                            data:ys.Constant.HOUSE_TYPE,
                            method:'get',
                            valueField:'id',
                            textField:'text',
                            panelHeight:'auto'
                    ">
                    </td>
                </tr>
                <tr>
                    <td>原始户型:</td>
                    <td>
                        <input name="Room" class="easyui-numberbox" style="width:70px;"><span class="label">室</span>
                        <input name="Hall" class="easyui-numberbox" style="width:70px;"><span class="label">厅</span>
                        <input name="Kitchen" class="easyui-numberbox" style="width:70px;"><span class="label">厨</span>
                        <input name="Toilet" class="easyui-numberbox" style="width:70px;"><span class="label">卫</span>
                        <span class="label">面积</span><input name="Area" class="easyui-numberbox" data-options="precision:2" style="width:70px;"><span class="label">平方米</span>
                    </td>
                </tr>
                <tr>
                    <td>业主:</td>
                    <td><input class="easyui-combobox"
                               name="OwnerID"
                               style="width:300px"
                               data-options="
                               loader: ys.loaders.ownersLoader,
                                valueField:'OwnerID',
                                textField:'OwnerName',
                                panelHeight:'auto',
                                required:true
                    "></td>
                </tr>
            </table>
        </form>
    </div>
</div>
<div id="editHouseDlgBtns">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="ys.modules.House.saveMainItem()" style="width:90px">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('.easyui-dialog').dialog('close')" style="width:90px">取消</a>
</div>

<div id="editHousePayDlg" class="easyui-dialog" style="width:550px;" modal="true"
     closed="true" data-options="buttons: '#editHousePayDlgBtns'">
    <div style="padding:10px 60px 20px 60px">
        <form method="post" novalidate>
            <input name="HouseCostPayID" type="hidden">
            <input name="HouseID" type="hidden">
            <div class="fitem">
                <label>费用类型:</label>
                <input class="easyui-combobox"
                       name="HouseCostTypeID"
                       style="width:300px;"
                       data-options="
                    loader: ys.loaders.houseCostTypeLoader,
                    valueField:'HouseCostTypeID',
                    textField:'HouseCostTypeName',
                    required: true,
                    panelHeight:'auto'
            ">
            </div>
            <div class="fitem">
                <label>支付金额:</label>
                <input name="Amount" class="easyui-numberbox" data-options="precision:2" data-options="required:true" style="width:300px;">
            </div>
            <div class="fitem">
                <label>支付日期:</label>
                <input name="PayDate" class="easyui-datebox" data-options="required:true" style="width:300px;">
            </div>
            <div class="fitem">
                <label>付款人:</label>
                <input name="Payer" class="easyui-textbox" data-options="required:true" style="width:300px;">
            </div>
        </form>
    </div>
</div>
<div id="editHousePayDlgBtns">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="ys.modules.House.saveSubPay()" style="width:90px">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('.easyui-dialog').dialog('close')" style="width:90px">取消</a>
</div>

<script>
ys.modules.House =  (function(){
    function loadMainData(){
        var mainTb = $('#houseTab');
        var params = $.form2JsonNotNull(mainTb.find('.top-search-form'));
        $.ajax({
            url: '/YSService/HouseService/GetDataList',
            method: 'POST',
            data: JSON.stringify(params),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (resp) {
                mainTb.find('table.main').datagrid('loadData', {
                    total: resp.length,
                    rows: resp
                });
            },
            error: function (XMLHttpRequest, textStatus, thrownError) {
                alert("Error Occured!");
            }
        });
    };

    function onRoomTreeChange(node){
        var form = $('#houseTab').find('.top-search-form');
        if(node.type=='community'){
            form.form('load',{CommunityID:node.id,VillageID:'',HouseID:'',RoomID:''});
        } if(node.type=='village'){
            form.form('load',{CommunityID:'',VillageID:node.id,HouseID:'',RoomID:''});
        } if(node.type=='house'){
            form.form('load',{CommunityID:'',VillageID:'',HouseID:node.id,RoomID:''});
        }
    };

    function saveMainItem(){
        var dlg = $('#editHouseDlg'), form = dlg.find('form');
        if(!form.form('validate'))return;
        var formData =  form.serializeArray();
        var data = {};
        $.each(formData, function(i, v) {
            data[v.name] = v.value;
        });
        var url = '/YSService/HouseService/Add';
        if(data['HouseID'] != '0'){
            url = '/YSService/HouseService/Update';
        }
        $.ajax({
            url: url,
            type: "POST",
            data: JSON.stringify(data),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (msg) {
                loadMainData();
                dlg.dialog('close');
            },
            error: function (XMLHttpRequest, textStatus, thrownError) {
                alert("Error Occured!");
            }
        });
    };

    function deleteMainItem(){
        var tbl = $('#houseTab').find('table.main');
        if(tbl.datagrid('getSelections').length < 1){
            $.messager.alert('提示','请先选择要删除的数据','info');
            return;
        }
        var data = tbl.datagrid('getSelected');
        $.messager.confirm('确认','确认删除?',function(r){
            if (r){
                $.ajax({
                    url: '/YSService/HouseService/Delete',
                    type: "POST",
                    data: JSON.stringify({HouseID: data.HouseID}),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (msg) {
                        loadSubPay($('#houseTab').find('table.main').datagrid('getSelected'));
                    },
                    error: function (XMLHttpRequest, textStatus, thrownError) {
                        alert("Error Occured!");
                    }
                });
            }
        });
    };

    function onCommunityChange(o){
        var combo = $('#editHouseDlg form').find('input[comboname=VillageID]');
        combo.combobox('setValue', '');
        combo.combobox('loadData', []);
        $.ajax({
            url: '/YSService/VillageService/GetDataList',
            method: 'POST',
            data: JSON.stringify({CommunityID: o.CommunityID}),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (resp) {
                combo.combobox('loadData', resp);
            },
            error: function (XMLHttpRequest, textStatus, thrownError) {
                alert("Error Occured!");
            }
        });
    };

    function loadSubRoom(params){
        $.ajax({
            url: '/YSService/OnLineService/GetRoomInfo',
            method: 'POST',
            data: JSON.stringify(params),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (resp) {
                $('#houseTab').find('table.subRoom').datagrid('loadData', {
                    total: resp.length,
                    rows: resp
                });
            },
            error: function (XMLHttpRequest, textStatus, thrownError) {
                alert("Error Occured!");
            }
        });
    };

    function loadSubPay(params){
        $.ajax({
            url: '/YSService/HousePayService/GetDataList',
            method: 'POST',
            data: JSON.stringify(params),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (resp) {
                $.each(resp, function(i,item){
                    item['PayDate'] = $.wcfDate2JsDateStr(item['PayDate']);
                    item['CreateDate'] = $.wcfDate2JsDateStr(item['CreateDate']);
                });
                $('#houseTab').find('table.subPay').datagrid('loadData', {
                    total: resp.length,
                    rows: resp
                });
            },
            error: function (XMLHttpRequest, textStatus, thrownError) {
                alert("Error Occured!");
            }
        });
    };

    function saveSubPay(){
        var dlg = $('#editHousePayDlg'), form = dlg.find('form');
        if(!form.form('validate'))return;
        var formData =  form.serializeArray();
        var data = {};
        $.each(formData, function(i, v) {
            data[v.name] = v.value;
            if (v.name == 'PayDate' || v.name == 'CreateDate') {
                data[v.name] = $.jsDateStr2WcfDate(v.value);
            } else {
                data[v.name] = v.value;
            }
        });
        var url = '/YSService/HousePayService/Add';
        if(data['HouseCostPayID'] != '0'){
            url = '/YSService/HousePayService/Update';
        }
        $.ajax({
            url: url,
            type: "POST",
            data: JSON.stringify(data),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (msg) {
                loadSubPay($('#houseTab').find('table.main').datagrid('getSelected'));
                dlg.dialog('close');
            },
            error: function (XMLHttpRequest, textStatus, thrownError) {
                alert("Error Occured!");
            }
        });
    };

    function deleteSubPay(){
        var tbl = $('#houseTab').find('table.subPay');
        if(tbl.datagrid('getSelections').length < 1){
            $.messager.alert('提示','请先选择要删除的数据','info');
            return;
        }
        var data = tbl.datagrid('getSelected');
        $.messager.confirm('确认','确认删除?',function(r){
            if (r){
                $.ajax({
                    url: '/YSService/HousePayService/Delete',
                    type: "POST",
                    data: JSON.stringify({HouseCostPayID: data.HouseCostPayID}),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (msg) {
                        loadSubPay($('#houseTab').find('table.main').datagrid('getSelected'));
                    },
                    error: function (XMLHttpRequest, textStatus, thrownError) {
                        alert("Error Occured!");
                    }
                });
            }
        });
    };

    return {
        loadMainData: loadMainData,
        onRoomTreeChange: onRoomTreeChange,
        saveMainItem: saveMainItem,
        deleteMainItem: deleteMainItem,
        onCommunityChange: onCommunityChange,
        loadSubRoom: loadSubRoom,
        loadSubPay: loadSubPay,
        saveSubPay: saveSubPay,
        deleteSubPay: deleteSubPay
    };
})();


window.grid.cfg.house = {
    singleSelect:true,
    rownumbers: true,
    pagination: true,
    fit: true,
    columns:[[
        {field:'HouseNO',title:'编号',width:100},
        {field:'CommunityName',title:'社区',width:100},
        {field:'VillageName',title:'小区',width:100},
        {field:'OwnerName',title:'业主',width:70},
        {field:'Address',title:'地址',width:200},
        {field:'FloorInfo',title:'楼层',width:70},
        {field:'Elevator',title:'电梯',width:40, formatter: function(v){return v? '有':'无';}},
        {field:'HouseType',title:'物业类型',width:120, formatter: function(v){return ys.Constant.HOUSE_TYPE[v-1].text;}},
        {field:'HouseDetail',title:'原始户型',width:120},
        {field:'HouseStatusName',title:'状态',width:100}
    ]],
    onSelect:function(i, data){
        ys.modules.House.loadSubRoom(data);
        ys.modules.House.loadSubPay(data);
    },
    toolbar: [{
        id: '',
        text: '新增',
        iconCls: 'icon-add',
        handler: function () {
            var dlg = $('#editHouseDlg'), form = dlg.find('form');
            dlg.dialog('open').dialog('center').dialog('setTitle','新增房源');
            form.form('clear');
            form.form('load', {HouseID:0});
        }
    }, "-", {
        id: '',
        text: '编辑',
        iconCls: 'icon-edit',
        handler: function () {
            var dlg = $('#editHouseDlg'), form = dlg.find('form'), mainTbl = $('#houseTab').find('table.main');
            if(mainTbl.datagrid('getSelections').length < 1){
                $.messager.alert('提示','请先选择要编辑的数据','info');
                return;
            }
            dlg.dialog('open').dialog('center').dialog('setTitle','编辑房源');
            form.form('load', mainTbl.datagrid('getSelected'));
        }
    }, "-", {
        id: '',
        text: '删除',
        iconCls: 'icon-remove',
        handler: ys.modules.House.deleteMainItem
    }, "-"]
};

window.grid.cfg.house.Room = {
    singleSelect:true,
    rownumbers: true,
    fit: true,
    columns:[[
        {field:'RoomNo',title:'房间号',width:70},
        {field:'DirectionName',title:'朝向',width:50},
        {field:'Rent',title:'租金(元)',width:50},
        {field:'RentStatusName',title:'定价状态',width:40},
        {field:'RoomStatusName',title:'房间状态',width:40},
        {field:'RoomArae',title:'面积(m<sup>2</sup>)',width:60},
        {field:'RommRenovation',title:'配套设施',width:300, formatter: function(v){
            var result = '';
            for(var i = 0; v && i < v.length; ++i){
                result += i == v.length - 1? (v[i].RenovationName + ', ') : v[i].RenovationName;
            }
        }}
    ]]
};

window.grid.cfg.house.Pay = {
    singleSelect:true,
    rownumbers: true,
    fit: true,
    columns:[[
        {field:'HouseCostTypeID',title:'费用类型',width:70},
        {field:'Amount',title:'支付金额(元)',width:40},
        {field:'Payer',title:'付款人',width:60},
        {field:'PayDate',title:'支付日期',width:60},
        {field:'Creater',title:'录入人',width:60},
        {field:'CreateDate',title:'录入日期',width:60}
    ]],
    toolbar: [{
        id: '',
        text: '新增',
        iconCls: 'icon-add',
        handler: function () {
            var mainTbl = $('#houseTab').find('table.main');
            if(mainTbl.datagrid('getSelections').length < 1){
                $.messager.alert('提示','请先选择一条房源记录！','info');
                return;
            }
            var data = mainTbl.datagrid('getSelected');
            var dlg = $('#editHousePayDlg'), form = dlg.find('form');
            dlg.dialog('open').dialog('center').dialog('setTitle','新增支付信息');
            form.form('clear');
            form.form('load', {
                HouseID: data['HouseID'],
                HouseCostPayID: 0
            });
        }
    }, "-", {
        id: '',
        text: '编辑',
        iconCls: 'icon-edit',
        handler: function () {
            var tbl = $('#houseTab').find('table.subPay');
            if(tbl.datagrid('getSelections').length < 1){
                $.messager.alert('提示','请先选择一条支付信息！','info');
                return;
            }
            var dlg = $('#editHousePayDlg'), form = dlg.find('form');
            dlg.dialog('open').dialog('center').dialog('setTitle','编辑支付信息');
            form.form('clear');
            form.form('load', tbl.datagrid('getSelected'));
        }
    }, "-", {
        id: '',
        text: '删除',
        iconCls: 'icon-remove',
        handler: ys.modules.House.deleteSubPay
    }, "-"]
};

(function(){
    ys.modules.House.loadMainData();
    $('#houseTab').find('table.subRoom').datagrid(window.grid.cfg.house.Room);
    $('#houseTab').find('table.subPay').datagrid(window.grid.cfg.house.Pay);
})();

</script>