<div class="easyui-layout" data-options="fit:true">
    <div class="easyui-layout" data-options="region:'center',fit:true">
        <div data-options="region:'north',split:true,border:false" style="height:60px;padding:10px;">
            <form class="top-search-form">
                <input type="hidden" name="CommunityID">
                <input type="hidden" name="VillageID">
                <input type="hidden" name="HouseID">
                <table>
                    <tr>
                        <td>房间：<input class="easyui-combotree" data-options="
                                            url:'/YSService/BaseInfoService/GetTree3',
                                            method:'get',
                                            animate:true,
                                            panelHeight: 'auto',
                                            panelWidth: 300,
                                            valueField:'id',
                                            textField:'text',
                                            onClick: ys.modules.HouseOnline.onRoomTreeChange
                                 " style="width:200px;">
                        </td>
                        <td>状态：<select name="HouseStatus" class="easyui-combobox">
                            <option value="">--全部--</option>
                            <option value="1">签约收房</option>
                            <option value="2">信息交接</option>
                            <option value="3">装修方案</option>
                            <option value="4">拍照上传</option>
                            <option value="5">定价上线</option></select>
                        </td>
                        <td><input type="button" value="查询" onclick="ys.modules.HouseOnline.loadMainData()"></td>
                    </tr>
                </table>
            </form>
        </div>
        <div data-options="region:'center'"><table class="main"></table></div>
    </div>
    <div class="easyui-layout" data-options="region:'east',split:true" style="width:700px;">
        <div class="house-img-list" data-options="region:'north',split:true,border:false" style="height:360px;padding:10px;">
            <span class="file-upload-btn" style="width:80px;height:80px;display:inline-block;border:1px solid gray;font-size:64px;text-align:center;vertical-align:middle;margin-top:10px;line-height:80px;color:gray;">+</span>
        </div>
        <div class="easyui-tabs" data-options="region:'center',fit:true,border:false,plain:true">
            <div title="签约收房"><table class="contract"></table></div>
            <div title="信息交接" >
                <div style="padding:10px;overflow: auto;">
                    <form class="costForm" novalidate >
                        <input name="HouseID" type="hidden">
                        <input name="FacingID" type="hidden">
                        <h5>水费信息</h5>
                        <fieldset>
                            <table>
                                <tr>
                                    <td>户号:</td>
                                    <td><input name="Water_AccountNO" class="easyui-textbox" style="width:120px;" data-options="required:true"></td>
                                    <td>所属公司:</td>
                                    <td><input name="Water_Company" class="easyui-textbox" style="width:120px;" data-options="required:true"></td>
                                    <td>查询电话:</td>
                                    <td><input name="Water_Phone" class="easyui-textbox" style="width:120px;" data-options="required:true"></td>
                                </tr>
                                <tr>
                                    <td>付款方式:</td>
                                    <td><select name="Water_PayType" class="easyui-combobox" data-options="required:true" style="width:120px;"><option value="1">线上</option><option value="2">线下</option></select></td>
                                    <td>首次付款日:</td>
                                    <td>
                                        <input name="Water_PayDate" class="easyui-datebox" data-options="required:true" style="width:120px;">
                                    </td>
                                    <td>付款周期:</td>
                                    <td>
                                        <select name="Water_PayCycle" class="easyui-combobox" data-options="required:true" style="width:120px;"><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="6">6</option><option value="12">12</option></select>
                                    </td>
                                </tr>
                            </table>
                        </fieldset>
                        <h5>电费信息</h5>
                        <fieldset>
                            <table>
                                <tr>
                                    <td>户号:</td>
                                    <td><input name="Electric_AccountNO" class="easyui-textbox" style="width:120px;" data-options="required:true"></td>
                                    <td>所属公司:</td>
                                    <td><input name="Electric_Company" class="easyui-textbox" style="width:120px;" data-options="required:true"></td>
                                    <td>查询电话:</td>
                                    <td><input name="Electric_Phone" class="easyui-textbox" style="width:120px;" data-options="required:true"></td>
                                </tr>
                                <tr>
                                    <td>付款方式:</td>
                                    <td><select name="Electric_PayType" class="easyui-combobox" data-options="required:true" style="width:120px;"><option value="1">线上</option><option value="2">线下</option></select></td>
                                    <td>首次付款日:</td>
                                    <td>
                                        <input name="Electric_PayDate" class="easyui-datebox" data-options="required:true" style="width:120px;">
                                    </td>
                                    <td>付款周期:</td>
                                    <td>
                                        <select name="Electric_PayCycle" class="easyui-combobox" data-options="required:true" style="width:120px;"><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="6">6</option><option value="12">12</option></select>
                                    </td>
                                </tr>
                            </table>
                        </fieldset>
                        <h5>煤气费信息</h5>
                        <fieldset>
                            <table>
                                <tr>
                                    <td>户号:</td>
                                    <td><input name="Gas_AccountNO" class="easyui-textbox" style="width:120px;" data-options="required:true"></td>
                                    <td>所属公司:</td>
                                    <td><input name="Gas_Company" class="easyui-textbox" style="width:120px;" data-options="required:true"></td>
                                    <td>查询电话:</td>
                                    <td><input name="Gas_Phone" class="easyui-textbox" style="width:120px;" data-options="required:true"></td>
                                </tr>
                                <tr>
                                    <td>付款方式:</td>
                                    <td><select name="Gas_PayType" class="easyui-combobox" data-options="required:true" style="width:120px;"><option value="1">线上</option><option value="2">线下</option></select></td>
                                    <td>首次付款日:</td>
                                    <td>
                                        <input name="Gas_PayDate" class="easyui-datebox" data-options="required:true" style="width:120px;">
                                    </td>
                                    <td>付款周期:</td>
                                    <td>
                                        <select name="Gas_PayCycle" class="easyui-combobox" data-options="required:true" style="width:120px;"><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="6">6</option><option value="12">12</option></select>
                                    </td>
                                </tr>
                            </table>
                        </fieldset>
                        <h5>宽带信息</h5>
                        <fieldset>
                            <table>
                                <tr>
                                    <td>宽带账号:</td>
                                    <td><input name="Network_AccountNO" class="easyui-textbox" style="width:120px;" data-options="required:true"></td>
                                    <td>所属公司:</td>
                                    <td><input name="Network_Company" class="easyui-textbox" style="width:120px;" data-options="required:true"></td>
                                    <td>带宽:</td>
                                    <td><input name="Network_Bandwidth" class="easyui-textbox" style="width:120px;" data-options="required:true"></td>
                                </tr>
                                <tr>
                                    <td>宽带密码:</td>
                                    <td><input name="Network_Password" class="easyui-textbox" style="width:120px;" data-options="required:true"></td>
                                    <td>办理人:</td>
                                    <td><input name="Network_Person" class="easyui-textbox" style="width:120px;" data-options="required:true"></td>
                                    <td>身份证号:</td>
                                    <td><input name="Network_ID" class="easyui-textbox" style="width:120px;" data-options="required:true"></td>
                                </tr>
                            </table>
                        </fieldset>
                    </form>
                </div>
            </div>
            <!--<div title="装修方案"><table class="renovation"></table></div>
            <div title="拍照上传"><table class="upImg"></table></div>
            <div title="定价上线"><table class="roomPrice"></table></div>-->
            <div title="公寓信息" class="rooms" style="padding:10px;"></div>
        </div>
    </div>
</div>

<div id="editHouseCostDlg" class="easyui-dialog" style="width:500px;padding:10px 20px"  modal="true"
     closed="true" buttons="#editHouseCostDlgBtns">
    <form method="post" novalidate>
        <input name="HouseCostID" type="hidden">
        <input name="HouseID" type="hidden">
        <div class="fitem">
            <label>费用类型:</label>
            <input class="easyui-combobox"
                   name="HouseCostTypeID"
                   style="width:300px;"
                   data-options="
                    loader: ys.loaders.houseCostTypeLoader,
                    valueField:'HouseCostTypeID',
                    textField:'HouseCostTypeName',
                    required: true,
                    panelHeight:'auto',
                    editable:false
            ">
        </div>
        <div class="fitem">
            <label>账号:</label>
            <input name="AccountNO" class="easyui-textbox" data-options="required:true">
        </div>
        <div class="fitem">
            <label>账号所属公司:</label>
            <input name="AccountCompanyName" class="easyui-textbox" data-options="required:true">
        </div>
    </form>
</div>
<div id="editHouseCostDlgBtns">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="ys.modules.HouseOnline.saveHouseCost()" style="width:90px">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('.easyui-dialog').dialog('close')" style="width:90px">取消</a>
</div>


<div id="editHouseRenovationDlg" class="easyui-dialog" style="width:500px;padding:10px 20px"  modal="true"
     closed="true" buttons="#editHouseRenovationDlgBtns">
    <form id="fm" method="post" novalidate>
        <input name="RoomID" type="hidden">
        <input name="HouseID" type="hidden">
        <div class="fitem">
            <label>房间编号:</label>
            <input name="RoomNo" class="easyui-textbox" data-options="required:true" style="width:350px;">
        </div>
        <div class="fitem">
            <label>朝向:</label>
            <select name="Direction" class="easyui-combobox"  style="width:350px;">
                <option value="0">无窗户</option>
                <option value="1">朝东</option>
                <option value="2">朝南</option>
                <option value="3">朝西</option>
                <option value="4">朝北</option>
            </select>
        </div>
        <div class="fitem">
            <label>面积（平方米）:</label>
            <input name="RoomArae" class="easyui-numberbox" data-options="precision:2,required:true" style="width:350px;">
        </div>
        <div class="renovation-list"><label style="width:80px;">配套设施:</label></div>
    </form>
</div>
<div id="editHouseRenovationDlgBtns">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="ys.modules.HouseOnline.saveHouseRenovation()" style="width:90px">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('.easyui-dialog').dialog('close')" style="width:90px">取消</a>
</div>

<div id="editRoomPriceDlg" class="easyui-dialog" style="width:500px;padding:10px 20px"  modal="true"
     closed="true" buttons="#editRoomPriceDlgBtns">
    <form method="post" novalidate>
        <input name="RoomID" type="hidden">
        <div class="fitem">
            <label>价格(元):</label>
            <input name="Rent" class="easyui-numberbox" data-options="precision:2,required:true" style="width:350px;">
        </div>
    </form>
</div>
<div id="editRoomPriceDlgBtns">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="ys.modules.HouseOnline.onLineRoom()" style="width:90px">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('.easyui-dialog').dialog('close')" style="width:90px">取消</a>
</div>

<script type="text/template" id="houseOnlineRoomFormTpl">
    <div class="easyui-panel" title="公寓信息" style="width:100%;min-height:100px;padding:10px;"
         data-options="style:{marginTop:10}">
        <form novalidate>
            <input type="hidden" name="RoomID">
            <input type="hidden" name="HouseID">
            <table>
                <tr>
                    <td>
                        <label>房间编号:</label>
                        <input name="RoomNo" class="easyui-textbox" data-options="required:true" style="width:120px;">
                        <label style="margin-left:10px;">朝向:</label>
                        <select name="Direction" class="easyui-combobox"  data-options="required:true" style="width:70px;">
                            <option value="0">无窗户</option>
                            <option value="1">朝东</option>
                            <option value="2">朝南</option>
                            <option value="3">朝西</option>
                            <option value="4">朝北</option>
                        </select>
                        <label style="margin-left:10px;">面积(m<sup>2</sup>):</label>
                        <input name="RoomArae" class="easyui-numberbox" data-options="precision:2" style="width:70px;">
                        <label style="margin-left:10px;">价格(元):</label>
                        <input name="Rent" class="easyui-numberbox" data-options="precision:2" style="width:70px;">
                    </td>
                </tr>
                <tr>
                    <td class="renovation-list"><label style="width:80px;">配套设施:</label></td>
                </tr>
                <tr>
                    <td>
                        <label>上传照片:</label>
                        <div>
                            <span class="file-upload-btn" style="width:80px;height:80px;display:inline-block;border:1px solid gray;font-size:64px;text-align:center;vertical-align:middle;margin-top:10px;line-height:80px;color:gray;">+</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right;">
                        <input type="button" value="保存" onclick="ys.modules.HouseOnline.saveRoomRenovation(this)">
                        <input type="button" value="上线" onclick="ys.modules.HouseOnline.onLineRoom(this)">
                        <input type="button" value="下线" onclick="ys.modules.HouseOnline.downLineRoom(this)">
                        <input type="button" value="删除" onclick="ys.modules.HouseOnline.deleteRoomRenovation(this)">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</script>

<script>
ys.modules.HouseOnline =  (function(){
    function loadMainData(){
        var params = $.form2JsonNotNull($('#houseOnlineTab').find('.top-search-form'));
        $.ajax({
            url: '/YSService/HouseService/GetDataList',
            method: 'POST',
            data: JSON.stringify(params),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (resp) {
                $('#houseOnlineTab').find('table.main').datagrid('loadData', {
                    total: resp.length,
                    rows: resp
                });
            },
            error: function (XMLHttpRequest, textStatus, thrownError) {
                alert("Error Occured!");
            }
        });
    };

    function onRoomTreeChange(node){
        var form = $('#houseOnlineTab').find('.top-search-form');
        if(node.type=='community'){
            form.form('load',{CommunityID:node.id,VillageID:'',HouseID:'',RoomID:''});
        } if(node.type=='village'){
            form.form('load',{CommunityID:'',VillageID:node.id,HouseID:'',RoomID:''});
        } if(node.type=='house'){
            form.form('load',{CommunityID:'',VillageID:'',HouseID:node.id,RoomID:''});
        }
    };

    function saveMainItem(){
        var dlg = $('#editHouseDlg'), form = dlg.find('form');
        if(!form.form('validate'))return;
        var formData =  form.serializeArray();
        var data = {};
        $.each(formData, function(i, v) {
            data[v.name] = v.value;
        });
        var url = '/YSService/HouseService/Add';
        if(data['HouseID']){
            url = '/YSService/HouseService/Update';
        }
        $.ajax({
            url: url,
            type: "POST",
            data: JSON.stringify(data),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (msg) {
                loadMainData();
                dlg.dialog('close');
            },
            error: function (XMLHttpRequest, textStatus, thrownError) {
                alert("Error Occured!");
            }
        });
    };

    function loadHouseImgList(params){
        $.ajax({
            url: '/YSService/OnLineService/GetHouseImgPathInfo/' + params.HouseID,
            type: "GET",
            dataType: "json",
            success: function (imgs) {
                $.each(imgs, function(i, o) {
                    $('#houseOnlineTab').find('.house-img-list .file-upload-btn').before('<a href="' + o.ImgPath + '" target="_blank"><img class="img-item" data-id="' + o.RoomImgPathID + '" src="' + o.ImgPath + '" style="width:80px;height:80px;display:inline-block;vertical-align:middle;margin:10px 10px 0 0;"></a>');
                });
                $('#houseOnlineTab').find('.house-img-list .file-upload-btn').click(function(){
                    var btn = $(this);
                    ys.modules.FileUploader.open({
                        callback: function(images){
                            $.each(images, function(i, v){
                                btn.before('<a href="' + v + '" target="_blank"><img data-id="0" src="' + v + '" class="img-item" style="width:80px;height:80px;display:inline-block;vertical-align:middle;margin:10px 10px 0 0;"></a>');
                                $.ajax({
                                    url: '/YSService/OnLineService/InsertHouseImg',
                                    method: 'POST',
                                    data: JSON.stringify({HouseID:params.HouseID, ImgPath: v}),
                                    dataType: "json",
                                    contentType: "application/json; charset=utf-8",
                                    success: function (imgs) {
                                    },
                                    error: function (XMLHttpRequest, textStatus, thrownError) {
                                    }
                                });
                            });
                        }
                    });
                });
            },
            error: function (XMLHttpRequest, textStatus, thrownError) {
                alert("Error Occured!");
            }
        });
    };

    function loadHouseContract(params){
        $.ajax({
            url: '/YSService/ContractService/GetDataList',
            method: 'POST',
            data: JSON.stringify({HouseID:params.HouseID}),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (resp) {
                $.each(resp, function(i,item){
                    item['BeginDate'] = $.wcfDate2JsDateStr(item['BeginDate']);
                    item['EndDate'] = $.wcfDate2JsDateStr(item['EndDate']);
                    item['CreateDate'] = $.wcfDate2JsDateStr(item['CreateDate']);
                });
                $('#houseOnlineTab').find('table.contract').datagrid('loadData', {
                    total: resp.length,
                    rows: resp
                });
            },
            error: function (XMLHttpRequest, textStatus, thrownError) {
                alert("Error Occured!");
            }
        });
    };

    function confirmContract(params){
        var tbl = $('#houseOnlineTab').find('table.main');
        if(tbl.datagrid('getSelections').length < 1){
            $.messager.alert('提示','请先选择一条房源记录!','info');
            return;
        }
        var data = tbl.datagrid('getSelected');
        $.messager.confirm('确认','确认完成签约收房?',function(r){
            if (r){
                $.ajax({
                    url: '/YSService/OnLineService/ConfirmContract',
                    method: 'POST',
                    data: JSON.stringify({HouseID:data.HouseID}),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (resp) {
                        $.messager.alert('提示','已完成签约收房！','success');
                    },
                    error: function (XMLHttpRequest, textStatus, thrownError) {
                        alert("Error Occured!");
                    }
                });
            }
        });
    };

    function loadHouseCost(params){
        $.ajax({
            url: '/YSService/OnLineService/GetInterfacing/' + params.HouseID,
            method: 'POST',
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (resp) {
                var form = $('#houseOnlineTab').find('.costForm');
                form.form('clear');
                form.form('load', resp);
            },
            error: function (XMLHttpRequest, textStatus, thrownError) {
                alert("Error Occured!");
            }
        });
    };

    function saveHouseCost(){
        var form = $('#houseOnlineTab').find('.costForm');
        if(!form.form('validate'))return;
        var formData =  form.serializeArray();
        var data = {};
        var url = '/YSService/OnLineService/EditInterfacing';
        $.ajax({
            url: url,
            type: "POST",
            data: JSON.stringify(data),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (msg) {

            },
            error: function (XMLHttpRequest, textStatus, thrownError) {
                alert("Error Occured!");
            }
        });
    };

    function deleteHouseCost(){
        var tbl = $('#houseOnlineTab').find('table.cost');
        if(tbl.datagrid('getSelections').length < 1){
            $.messager.alert('提示','请先选择要删除的数据','info');
            return;
        }
        var data = tbl.datagrid('getSelected');
        $.messager.confirm('确认','确认删除?',function(r){
            if (r){
                $.ajax({
                    url: '/YSService/HouseCostService/Delete',
                    type: "POST",
                    data: JSON.stringify({HouseCostID: data.HouseCostID}),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (msg) {
                        loadHouseCost({HouseID: data.HouseID});
                    },
                    error: function (XMLHttpRequest, textStatus, thrownError) {
                        alert("Error Occured!");
                    }
                });
            }
        });
    };

    function confirmInterfacing(params){
        var tbl = $('#houseOnlineTab').find('table.main');
        if(tbl.datagrid('getSelections').length < 1){
            $.messager.alert('提示','请先选择一条房源记录!','info');
            return;
        }
        var data = tbl.datagrid('getSelected');
        $.messager.confirm('确认','确认完成交接信息?',function(r){
            if (r){
                $.ajax({
                    url: '/YSService/OnLineService/ConfirmInterfacing',
                    method: 'POST',
                    data: JSON.stringify({HouseID:data.HouseID}),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (resp) {
                        $.messager.alert('提示','已完成交接信息！','success');
                    },
                    error: function (XMLHttpRequest, textStatus, thrownError) {
                        alert("Error Occured!");
                    }
                });
            }
        });
    };

    function loadHouseRenovation(params){
        $.ajax({
            url: '/YSService/OnLineService/GetRoomInfo',
            method: 'POST',
            data: JSON.stringify({HouseID:params.HouseID}),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (resp) {
                $('#houseOnlineTab').find('table.renovation').datagrid('loadData', {
                    total: resp.length,
                    rows: resp
                });
                $('#houseOnlineTab').find('table.roomPrice').datagrid('loadData', {
                    total: resp.length,
                    rows: resp
                });
            },
            error: function (XMLHttpRequest, textStatus, thrownError) {
                alert("Error Occured!");
            }
        });
    };

    function loadHouseRenovations(params){
        $.ajax({
            url: '/YSService/OnLineService/GetRoomInfo',
            method: 'POST',
            data: JSON.stringify({HouseID:params.HouseID}),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (resp) {
                var tab = $('#houseOnlineTab div.rooms'), i = 0;
                var tpl = $('#houseOnlineRoomFormTpl').html();
                tab.empty();
                var htmlStr = '<div><button onclick="ys.modules.HouseOnline.addRoomRenovation()">+ 添加新房间</button></div>';
                for(; i < resp.length; ++i){
                    htmlStr += tpl;
                }
                tab.panel({
                    content:htmlStr
                });
                tab.find('.renovation-list').append(ys.modules.HouseOnline.renovationOpts);
                tab.find('form').each(function(i){
                    var room = resp[i], form = $(this);
                    form.form('load', room);
                    var rr = room.RommRenovation;
                    for (var i = 0; rr && i < rr.length; i++) {
                        form.find(".renovation-list [value=" + rr[i].RenovationID + "]").attr("checked", true);
                    };
                    $.ajax({
                        url: '/YSService/OnLineService/GetRoomImgPathInfo/' + room.RoomID,
                        type: "GET",
                        dataType: "json",
                        success: function (imgs) {
                            $.each(imgs, function(i, o) {
                                form.find('.file-upload-btn').before('<a href="' + o.ImgPath + '" target="_blank"><img class="img-item" data-id="' + o.RoomImgPathID + '" src="' + o.ImgPath + '" style="width:80px;height:80px;display:inline-block;vertical-align:middle;margin:10px 10px 0 0;"></a>');
                            });
                            form.find('.file-upload-btn').click(function(){
                                var btn = $(this);
                                ys.modules.FileUploader.open({
                                    callback: function(images){
                                        $.each(images, function(i, v){
                                            btn.before('<a href="' + v + '" target="_blank"><img data-id="0" src="' + v + '" class="img-item" style="width:80px;height:80px;display:inline-block;vertical-align:middle;margin:10px 10px 0 0;"></a>');
                                            $.ajax({
                                                url: '/YSService/OnLineService/InsertRoomImg',
                                                method: 'POST',
                                                data: JSON.stringify({RoomID:room.RoomID, ImgPath: v}),
                                                dataType: "json",
                                                contentType: "application/json; charset=utf-8",
                                                success: function (imgs) {
                                                },
                                                error: function (XMLHttpRequest, textStatus, thrownError) {
                                                }
                                            });
                                        });
                                    }
                                });
                            });
                        },
                        error: function (XMLHttpRequest, textStatus, thrownError) {
                            alert("Error Occured!");
                        }
                    });
                });
            },
            error: function (XMLHttpRequest, textStatus, thrownError) {
                alert("Error Occured!");
            }
        });
    };

    function saveHouseRenovation(){
        var dlg = $('#editHouseRenovationDlg'), form = dlg.find('form');
        if(!form.form('validate'))return;
        var formData =  form.serializeArray();
        var data = {RommRenovation:[]};
        $.each(formData, function(i, v) {
            if(v.name == 'RommRenovationItem'){
                data['RommRenovation'].push({
                    RenovationID: v.value
                });
            } else {
                data[v.name] = v.value;
            }
        });
        var url = '/YSService/OnLineService/AddRoomInfo';
        if(data['RoomID'] != '0'){
            url = '/YSService/OnLineService/UpdateRoomInfo';
        }
        $.ajax({
            url: url,
            type: "POST",
            data: JSON.stringify(data),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (msg) {
                loadHouseRenovation($('#houseOnlineTab').find('table.main').datagrid('getSelected'));
                dlg.dialog('close');
            },
            error: function (XMLHttpRequest, textStatus, thrownError) {
                alert("Error Occured!");
            }
        });
    };

    function saveRoomRenovation(btn){
        var form = $(btn).parentsUntil('#houseOnlineTab div.rooms', 'form');
        if(!form.form('validate'))return;
        var formData =  form.serializeArray();
        var data = {RommRenovation:[]};
        $.each(formData, function(i, v) {
            if(v.name == 'RommRenovationItem'){
                data['RommRenovation'].push({
                    RenovationID: v.value
                });
            } else {
                data[v.name] = v.value;
            }
        });
        var url = '/YSService/OnLineService/AddRoomInfo';
        if(data['RoomID'] != '0'){
            url = '/YSService/OnLineService/UpdateRoomInfo';
        }
        $.ajax({
            url: url,
            type: "POST",
            data: JSON.stringify(data),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (msg) {
                $.messager.alert('提示','公寓信息已保存成功！','info');
                $(btn).parentsUntil('#houseOnlineTab div.rooms', '.panel').removeClass('new-item');
                //loadHouseRenovation($('#houseOnlineTab').find('table.main').datagrid('getSelected'));
                //dlg.dialog('close');
            },
            error: function (XMLHttpRequest, textStatus, thrownError) {
                alert("Error Occured!");
            }
        });
    };

    function deleteHouseRenovation(){
        var tbl = $('#houseOnlineTab').find('table.renovation');
        if(tbl.datagrid('getSelections').length < 1){
            $.messager.alert('提示','请先选择要删除的数据','info');
            return;
        }
        var data = tbl.datagrid('getSelected');
        $.messager.confirm('确认','确认删除?',function(r){
            if (r){
                $.ajax({
                    url: '/YSService/OnLineService/DeleteRoomInfo',
                    type: "POST",
                    data: JSON.stringify({RoomID: data.RoomID}),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (msg) {
                        loadHouseRenovation($('#houseOnlineTab').find('table.main').datagrid('getSelected'));
                    },
                    error: function (XMLHttpRequest, textStatus, thrownError) {
                        alert("Error Occured!");
                    }
                });
            }
        });
    };

    function addRoomRenovation(){
        var mainTbl = $('#houseOnlineTab').find('table.main');
        if(mainTbl.datagrid('getSelections').length < 1){
            $.messager.alert('提示','请先选择一条房源记录','info');
            return;
        }
        var tab = $('#houseOnlineTab div.rooms');
        var newPanel = $($('#houseOnlineRoomFormTpl').html());
        if(tab.find('.panel').length > 0) {
            newPanel.insertBefore(tab.find('.panel').get(0)).panel();
        } else {
            newPanel.appendTo(tab).panel();
        }
        $.parser.parse(newPanel);
        newPanel.find('.panel').addClass('new-item');
        newPanel.find('.renovation-list').append(ys.modules.HouseOnline.renovationOpts);
        newPanel.find('form').form('load', {HouseID: mainTbl.datagrid('getSelected').HouseID, RoomID: 0});
    };

    function deleteRoomRenovation(btn){
        var panel = $(btn).parentsUntil('#houseOnlineTab div.rooms', '.panel');
        var data = $.form2Json(panel.find('form'));
        $.messager.confirm('确认','确认删除?',function(r){
            if (r){
                if(data.RoomID != '0') {
                    $.ajax({
                        url: '/YSService/OnLineService/DeleteRoomInfo',
                        type: "POST",
                        data: JSON.stringify({RoomID: data.RoomID}),
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (msg) {
                            panel.remove();
                        },
                        error: function (XMLHttpRequest, textStatus, thrownError) {
                            alert("Error Occured!");
                        }
                    });
                } else {
                    panel.remove();
                }
            }
        });
    };

    function confirmRenovation(){
        var mainTbl = $('#houseOnlineTab').find('table.main');
        if(mainTbl.datagrid('getSelections').length < 1){
            $.messager.alert('提示','请先选择一条房源记录','info');
            return;
        }
        var mainData = mainTbl.datagrid('getSelected');
        $.messager.confirm('确认','确认提交装修方案?',function(r){
            if (r){
                $.ajax({
                    url: '/YSService/OnLineService/ConfirmRenovation',
                    method: 'POST',
                    data: JSON.stringify({HouseID:mainData.HouseID}),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (resp) {
                        $.messager.alert('提示','已提交装修方案！','success');
                    },
                    error: function (XMLHttpRequest, textStatus, thrownError) {
                        alert("Error Occured!");
                    }
                });
            }
        });
    };

    function confirmUpImag(){
        var mainTbl = $('#houseOnlineTab').find('table.main');
        if(mainTbl.datagrid('getSelections').length < 1){
            $.messager.alert('提示','请先选择一条房源记录','info');
            return;
        }
        var mainData = mainTbl.datagrid('getSelected');
        $.messager.confirm('确认','确认完成拍照上传?',function(r){
            if (r){
                $.ajax({
                    url: '/YSService/OnLineService/ConfirmUpImag',
                    method: 'POST',
                    data: JSON.stringify({HouseID:mainData.HouseID}),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (resp) {
                        $.messager.alert('提示','已完成拍照上传！','success');
                    },
                    error: function (XMLHttpRequest, textStatus, thrownError) {
                        alert("Error Occured!");
                    }
                });
            }
        });
    };

    function confirmHouseOnLine(){
        var mainTbl = $('#houseOnlineTab').find('table.main');
        if(mainTbl.datagrid('getSelections').length < 1){
            $.messager.alert('提示','请先选择一条房源记录','info');
            return;
        }
        var mainData = mainTbl.datagrid('getSelected');
        $.messager.confirm('确认','确认完成房源上线?',function(r){
            if (r){
                $.ajax({
                    url: '/YSService/OnLineService/ConfirmHouseOnLine',
                    method: 'POST',
                    data: JSON.stringify({HouseID:mainData.HouseID}),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (resp) {
                        $.messager.alert('提示','已完成房源上线！','success');
                    },
                    error: function (XMLHttpRequest, textStatus, thrownError) {
                        alert("Error Occured!");
                    }
                });
            }
        });
    };

    function confirmHouseDownLine(){
        var mainTbl = $('#houseOnlineTab').find('table.main');
        if(mainTbl.datagrid('getSelections').length < 1){
            $.messager.alert('提示','请先选择一条房源记录','info');
            return;
        }
        var mainData = mainTbl.datagrid('getSelected');
        $.messager.confirm('确认','确认完成房源下线?',function(r){
            if (r){
                $.ajax({
                    url: '/YSService/OnLineService/ConfirmHouseDownLine',
                    method: 'POST',
                    data: JSON.stringify({HouseID:mainData.HouseID}),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (resp) {
                        $.messager.alert('提示','已完成房源下线！','success');
                    },
                    error: function (XMLHttpRequest, textStatus, thrownError) {
                        alert([XMLHttpRequest, textStatus, thrownError]);
                    }
                });
            }
        });
    };

    function onLineRoom(btn){
        var panel = $(btn).parentsUntil('#houseOnlineTab div.rooms', '.panel');
        var data = $.form2Json(panel.find('form'));
        if(!data.Rent){
            $.messager.alert('提示','请先填写房间价格后再进行房间上线！','info');
            return;
        }
        //if(!form.form('validate'))return;
        //var formData =  form.serializeArray();
        $.ajax({
            url: '/YSService/OnLineService/OnLine',
            method: 'POST',
            data: JSON.stringify(data),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (resp) {
                $.messager.alert('提示','已完成房间上线！','success');
                //loadHouseRenovation($('#houseOnlineTab').find('table.main').datagrid('getSelected'));
                //dlg.dialog('close');
            },
            error: function (XMLHttpRequest, textStatus, thrownError) {
                alert("Error Occured!");
            }
        });
    };

    function downLineRoom(btn){
        var panel = $(btn).parentsUntil('#houseOnlineTab div.rooms', '.panel');
        var data = $.form2Json(panel.find('form'));
        $.ajax({
            url: '/YSService/OnLineService/DownLine',
            method: 'POST',
            data: JSON.stringify({RoomID:data.RoomID}),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (resp) {
                $.messager.alert('提示','已完成房间下线！','success');
                //loadHouseRenovation($('#houseOnlineTab').find('table.main').datagrid('getSelected'));
            },
            error: function (XMLHttpRequest, textStatus, thrownError) {
                alert("Error Occured!");
            }
        });
    };

    return {
        onRoomTreeChange: onRoomTreeChange,
        loadMainData: loadMainData,
        saveMainItem: saveMainItem,

        loadHouseImgList: loadHouseImgList,

        loadHouseContract: loadHouseContract,
        confirmContract: confirmContract,

        loadHouseCost: loadHouseCost,
        saveHouseCost: saveHouseCost,
        deleteHouseCost: deleteHouseCost,
        confirmInterfacing:confirmInterfacing,

        loadHouseRenovation: loadHouseRenovation,
        loadHouseRenovations: loadHouseRenovations,
        saveRoomRenovation: saveRoomRenovation,
        deleteRoomRenovation: deleteRoomRenovation,
        addRoomRenovation: addRoomRenovation,
        saveHouseRenovation: saveHouseRenovation,
        deleteHouseRenovation: deleteHouseRenovation,
        confirmRenovation: confirmRenovation,

        confirmUpImag: confirmUpImag,
        onLineRoom: onLineRoom,
        downLineRoom: downLineRoom,
        confirmHouseDownLine: confirmHouseDownLine,
        confirmHouseOnLine: confirmHouseOnLine
    };
})();


window.grid.cfg.houseOnline = {
    singleSelect:true,
    rownumbers: true,
    pagination: true,
    fit: true,
    columns:[[
        {field:'HouseNO',title:'编号',width:100},
        {field:'CommunityName',title:'社区',width:100},
        {field:'VillageName',title:'小区',width:100},
        {field:'OwnerName',title:'业主',width:50},
        {field:'Address',title:'地址',width:200},
        {field:'HouseStatusName',title:'状态',width:70},
        {field:'price',title:'备注',width:100}
    ]],
    onSelect:function(i, data){
        ys.modules.HouseOnline.loadHouseImgList(data);
        ys.modules.HouseOnline.loadHouseContract(data);
        ys.modules.HouseOnline.loadHouseCost({HouseID: data.HouseID});
        //ys.modules.HouseOnline.loadHouseRenovation(data);
        ys.modules.HouseOnline.loadHouseRenovations(data);
    },
    toolbar: [{
        text: '签约收房',
        iconCls: '',
        handler: ys.modules.HouseOnline.confirmContract
    },"-", {
        text: '信息交接',
        iconCls: '',
        handler: ys.modules.HouseOnline.confirmInterfacing
    }, '-',{
        text: '提交装修方案',
        iconCls: '',
        handler: ys.modules.HouseOnline.confirmRenovation
    }, '-',{
        text: '完成拍照上传',
        iconCls: '',
        handler:ys.modules.HouseOnline.confirmUpImag
    }, '-',{
        id: '',
        text: '房源上线',
        iconCls: '',
        handler: ys.modules.HouseOnline.confirmHouseOnLine
    },'-',{
        id: '',
        text: '房源下线',
        iconCls: '',
        handler: ys.modules.HouseOnline.confirmHouseDownLine
    }]
};

window.grid.cfg.houseOnline.contract = {
    singleSelect:true,
    fit: true,
    columns:[[
        {field:'ContractNo',title:'合同编号',width:100},
        {field:'ContractStatusName',title:'状态',width:100},
        {field:'HouseID',title:'房源名称',width:100},
        {field:'code',title:'业主姓名',width:100},
        {field:'code',title:'业主电话',width:100},
        {field:'Rent',title:'房屋租金',width:100},
        {field:'Deposit',title:'房屋押金',width:100},
        {field:'code',title:'付款方式',width:100},
        {field:'BeginDate',title:'开始时间',width:100},
        {field:'EndDate',title:'结束时间',width:100},
        {field:'SendeeName',title:'房屋接收人',width:100},
        {field:'CreateDate',title:'创建时间',width:100},
        {field:'Creater',title:'创建人',width:100}
    ]]
};

window.grid.cfg.houseOnline.cost = {
    singleSelect:true,
    rownumbers: true,
    fit: true,
    columns:[[
        {field:'HouseCostTypeName',title:'费用类型',width:100},
        {field:'AccountNO',title:'账号',width:100},
        {field:'AccountCompanyName',title:'账号所属公司',width:100}
    ]],
    toolbar: [{
        id: '',
        text: '新增',
        iconCls: 'icon-add',
        handler: function () {
            var mainTbl = $('#houseOnlineTab').find('table.main');
            if(mainTbl.datagrid('getSelections').length < 1){
                $.messager.alert('提示','请先选择一条房源记录','info');
                return;
            }
            var dlg = $('#editHouseCostDlg'), form = dlg.find('form');
            var mainData = mainTbl.datagrid('getSelected');
            dlg.dialog('open').dialog('center').dialog('setTitle','新增房屋费用');
            form.form('clear');
            form.form('load', {HouseID: mainData.HouseID, HouseCostID: 0});
        }
    }, "-", {
        id: '',
        text: '编辑',
        iconCls: 'icon-edit',
        handler: function () {
            var dlg = $('#editHouseCostDlg'), form = dlg.find('form'), tbl = $('#houseOnlineTab').find('table.cost');
            if(tbl.datagrid('getSelections').length < 1){
                $.messager.alert('提示','请先选择要编辑的数据','info');
                return;
            }
            dlg.dialog('open').dialog('center').dialog('setTitle','编辑房屋费用');
            form.form('load', tbl.datagrid('getSelected'));
        }
    }, "-", {
        id: '',
        text: '删除',
        iconCls: 'icon-cancel',
        handler: ys.modules.HouseOnline.deleteHouseCost
    }]
};

window.grid.cfg.houseOnline.renovation = {
    singleSelect:true,
    rownumbers: true,
    fit: true,
    columns:[[
        {field:'RoomNo',title:'房间编号',width:100},
        {field:'Direction',title:'朝向',width:40, formatter: function(v){return ys.Constant.DIRECTION[v].text;}},
        {field:'RoomArae',title:'面积',width:40},
        {field:'RommRenovationList',title:'配套设施',width:300, formatter: function(v, r){
            var result = '', list = r.RommRenovation;
            for(var i = 0; list && i < list.length; ++i){
                result += i < list.length - 1? (list[i].RenovationName + ', ') : list[i].RenovationName;
            }
            return result;
        }}
    ]],
    toolbar: [{
        text: '新增',
        iconCls: 'icon-add',
        handler: function () {
            var mainTbl = $('#houseOnlineTab').find('table.main');
            if(mainTbl.datagrid('getSelections').length < 1){
                $.messager.alert('提示','请先选择一条房源记录','info');
                return;
            }
            var dlg = $('#editHouseRenovationDlg'), form = dlg.find('form');
            var mainData = mainTbl.datagrid('getSelected');
            dlg.dialog('open').dialog('center').dialog('setTitle','新增装修方案');
            form.form('clear');
            form.form('load', {HouseID: mainData.HouseID, RoomID: 0});
        }
    }, "-", {
        text: '编辑',
        iconCls: 'icon-edit',
        handler: function () {
            var dlg = $('#editHouseRenovationDlg'), form = dlg.find('form'), tbl = $('#houseOnlineTab').find('table.renovation');
            if(tbl.datagrid('getSelections').length < 1){
                $.messager.alert('提示','请先选择要编辑的数据','info');
                return;
            }
            dlg.dialog('open').dialog('center').dialog('setTitle','编辑装修方案');
            var data = tbl.datagrid('getSelected');
            form.form('load', data);
            var rr = data.RommRenovation;
            for (var i = 0; rr && i < rr.length; i++) {
                dlg.find(".renovation-list [value=" + rr[i].RenovationID + "]").attr("checked", true);
            };
        }
    }, "-", {
        text: '删除',
        iconCls: 'icon-cancel',
        handler: ys.modules.HouseOnline.deleteHouseRenovation
    }]
};

window.grid.cfg.houseOnline.upImg = {
    singleSelect:true,
    fit: true,
    columns:[[
    ]],
    toolbar: []
};

window.grid.cfg.houseOnline.roomPrice = {
    singleSelect:true,
    rownumbers: true,
    fit: true,
    columns:[[
        {field: 'RoomNo', title: '房间编号', width: 100},
        {field: 'RentStatusName', title: '状态', width: 100},
        {field: 'Rent', title: '价格(元)', width: 100}
    ]],
    toolbar: [{
        text: '上线',
        iconCls: 'icon-ok',
        handler: function () {
            var dlg = $('#editRoomPriceDlg'), form = dlg.find('form'), tbl = $('#houseOnlineTab').find('table.roomPrice');
            if(tbl.datagrid('getSelections').length < 1){
                $.messager.alert('提示','请先选择一间房间','info');
                return;
            }
            dlg.dialog('open').dialog('center').dialog('setTitle','房间上线');
            var data = tbl.datagrid('getSelected');
            form.form('load', data);
        }
    }, '-', {
        text: '下线',
        iconCls: 'icon-cancel',
        handler: function () {
            var tbl = $('#houseOnlineTab').find('table.roomPrice');
            if(tbl.datagrid('getSelections').length < 1){
                $.messager.alert('提示','请先选择一间房间','info');
                return;
            }
            $.messager.confirm('确认','确认完成房间下线?',function(r){
                if (r){
                    var data = tbl.datagrid('getSelected');
                    ys.modules.HouseOnline.downLineRoom(data);
                }
            });
        }
    }]
};

(function(){
    ys.modules.HouseOnline.loadMainData();

    $('#houseOnlineTab').find('table.contract').datagrid(window.grid.cfg.houseOnline.contract);
    //$('#houseOnlineTab').find('table.cost').datagrid(window.grid.cfg.houseOnline.cost);
    //$('#houseOnlineTab').find('table.upImg').datagrid(window.grid.cfg.houseOnline.renovation);
    //$('#houseOnlineTab').find('table.renovation').datagrid(window.grid.cfg.houseOnline.renovation);
    //$('#houseOnlineTab').find('table.roomPrice').datagrid(window.grid.cfg.houseOnline.roomPrice);

    //获取房间配套基础信息
    $.ajax({
        url: '/YSService/BaseInfoService/GetRoomRenovationList',
        method: 'GET',
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        success: function (resp) {
            var str='', i = 0;
            for(; i < resp.length; ++i){
                str += '<label style="margin:8px 4px;"><input type="checkbox" name="RommRenovationItem" value="' + resp[i].RenovationID + '">' + resp[i].RenovationName + '</label>'
            }
            ys.modules.HouseOnline.renovationOpts = str;
            $('#editHouseRenovationDlg .renovation-list').append(str);
        },
        error: function (XMLHttpRequest, textStatus, thrownError) {
            alert("Error Occured!");
        }
    });
})();
</script>