<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north',split:true" style="height:60px;padding:10px;">
        <form class="top-search-form">
            <input type="hidden" name="CommunityID">
            <input type="hidden" name="VillageID">
            <input type="hidden" name="HouseID">
            <input type="hidden" name="RoomID">
            <table>
                <tr>
                    <td>房间：<input class="easyui-combotree" data-options="
                    					url:'/YSService/BaseInfoService/GetTree3',
                                        method:'get',
                                        animate:true,
                                        panelHeight: 'auto',
                                        panelWidth: 300,
                                        valueField:'id',
                                        textField:'text',
                                        onClick: ys.modules.PreserveRoom.onRoomTreeChange
                             " style="width:200px;">
                    </td>
                    <td><input type="button" value="查询" onclick="ys.modules.PreserveRoom.loadMainData()"></input></td>
                </tr>
            </table>
        </form>
    </div>
    <div data-options="region:'center'"><table class="main"></table></div>
    <div data-options="region:'south',split:true" style="height:260px;padding:10px;">
        <div>
            <h5>预定人信息</h5>
            <form class="preserveForm" method="post" novalidate>
                <input name="RoomID" type="hidden" data-options="required:true">
                <table cellpadding="5">
                    <tr>
                        <td>入住人姓名:</td>
                        <td><input name="TenName" class="easyui-textbox" style="width:150px;"  data-options="required:true"></td>
                        <td>预计入住日期:</td>
                        <td><input name="Sdate" class="easyui-datebox" data-options="required:true"></input></td>
                    </tr>
                    <tr>
                        <td>入住人手机:</td>
                        <td><input name="Phone" class="easyui-textbox" style="width:150px;"  data-options="required:true"></td>
                        <td>预计签约日期:</td>
                        <td><input name="Edate" class="easyui-datebox" data-options="required:true"></input></td>
                    </tr>
                    <tr>
                        <td>入住人性别:</td>
                        <td><input name="Gender" type="radio" value="1">男<input name="Gender" type="radio" value="0">女</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>订金金额:</td>
                        <td><input name="Deposit" class="easyui-textbox" style="width:150px;" data-options="required:true"></td>
                        <td>支付方式:</td>
                        <td><input name="PayTypeID" class="easyui-textbox" style="width:150px;" data-options="required:true"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </form>
            <div id="reserveTenantContractDlgBtns">
                <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="ys.modules.PreserveRoom.confirm()" style="width:90px">确认</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="ys.modules.PreserveRoom.cancel()" style="width:90px">取消</a>
            </div>
        </div>
    </div>
</div>

<script>
ys.modules.PreserveRoom =  (function(){
    function loadMainData(){
        var params = $.form2JsonNotNull($('#preserveRoomTab').find('.top-search-form'));
        $.ajax({
            url: '/YSService/OnLineService/GetRoomInfo',
            method: 'POST',
            data: JSON.stringify(params),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (resp) {
                $('#preserveRoomTab').find('table.main').datagrid('loadData', {
                    total: resp.length,
                    rows: resp
                });
            },
            error: function (XMLHttpRequest, textStatus, thrownError) {
                alert("Error Occured!");
            }
        });
    };

    function onRoomTreeChange(node){
        var form = $('#preserveRoomTab').find('.top-search-form');
        if(node.type=='community'){
            form.form('load',{CommunityID:node.id,VillageID:'',HouseID:'',RoomID:''});
        } if(node.type=='village'){
            form.form('load',{CommunityID:'',VillageID:node.id,HouseID:'',RoomID:''});
        } if(node.type=='house'){
            form.form('load',{CommunityID:'',VillageID:'',HouseID:node.id,RoomID:''});
        }
    };

    function confirm(){
        if($('#preserveRoomTab').find('table.main').datagrid('getSelections').length < 1){
            $.messager.alert('提示','请先选择一个房间！','info');
            return;
        }
        var form = $('#preserveRoomTab').find('form.preserveForm');
        if(!form.form('validate'))return;
        var formData =  form.serializeArray();
        var data = {};
        $.each(formData, function(i, v) {
            if (v.name == 'Edate' || v.name == 'Sdate') {
                data[v.name] = $.jsDateStr2WcfDate(v.value);
            } else {
                data[v.name] = v.value;
            }
        });
        var url = '/YSService/TenantContractService/AddOrder';
        $.ajax({
            url: url,
            type: "POST",
            data: JSON.stringify(data),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (msg) {
                $.messager.alert('提示','房间预订成功！','success');
            },
            error: function (XMLHttpRequest, textStatus, thrownError) {
                alert("Error Occured!");
            }
        });
    };

    function cancel(){
        if($('#preserveRoomTab').find('table.main').datagrid('getSelections').length < 1){
            $.messager.alert('提示','请先选择一个房间！','info');
            return;
        }
        var form = $('#preserveRoomTab').find('form.preserveForm');
        if(!form.form('validate'))return;
        var formData =  form.serializeArray();
        var data = {};
        $.each(formData, function(i, v) {
            data[v.name] = v.value;
        });
        var url = '/YSService/TenantContractService/CancelOrder';
        $.ajax({
            url: url,
            type: "POST",
            data: JSON.stringify(data),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (msg) {
                $.messager.alert('提示','已取消预约！','success');
            },
            error: function (XMLHttpRequest, textStatus, thrownError) {
                alert("Error Occured!");
            }
        });
    };

    return {
        onRoomTreeChange: onRoomTreeChange,
        loadMainData: loadMainData,
        confirm: confirm,
        cancel: cancel
    };
})();

window.grid.cfg.preserveRoom = {
    singleSelect:true,
    rownumbers: true,
    fit: true,
    columns:[[
        {field:'RoomNo',title:'房间号',width:70},
        {field:'Direction',title:'朝向',width:40, formatter: function(v){return ys.Constant.DIRECTION[v].text;}},
        {field:'RoomArae',title:'面积(m<sup>2</sup>)',width:60},
        {field:'RommRenovation',title:'配套设施',width:300, formatter: function(v, r){
            var result = '', list = r.RommRenovation;
            for(var i = 0; list && i < list.length; ++i){
                result += i < list.length - 1? (list[i].RenovationName + ', ') : list[i].RenovationName;
            }
            return result;
        }}
    ]],
    onSelect:function(i, data){
        var form = $('#preserveRoomTab').find('form.preserveForm');
        form.form('clear');
        form.form('load', {RoomID: data.RoomID});
    }
};
</script>


