<script type="text/template" id="roomDetailTpl">
    <form id="fm" method="post" novalidate>
        <table cellpadding="5">
            <tr>
                <td>房源名称:</td>
                <td colspan=5><input name="firstname" class="easyui-textbox" readonly></td>
            </tr>
            <tr>
                <td>所属社区:</td>
                <td>
                    <input name="lastname" class="easyui-textbox" style="width:150px;" readonly>
                    <span class="label">房源编号:</span><input name="lastname" class="easyui-textbox" style="width:150px;" readonly>
                </td>
            </tr>
            <tr>
                <td>小区地址:</td>
                <td>
                    <input name="lastname" class="easyui-textbox" style="width:70px;" readonly><span class="label">区</span>
                    <input name="lastname" class="easyui-textbox" style="width:70px;" readonly><span class="label">路</span>
                    <input name="lastname" class="easyui-textbox" style="width:70px;" readonly><span class="label">弄（号）</span>
                    <input name="lastname" class="easyui-textbox" style="width:70px;" readonly><span class="label">栋</span>
                    <input name="lastname" class="easyui-textbox" style="width:70px;" readonly><span class="label">单元</span>
                    <input name="lastname" class="easyui-textbox" style="width:70px;" readonly><span class="label">号</span>
                </td>
            </tr>
            <tr>
                <td>所在楼层:</td>
                <td>
                    <input name="lastname" class="easyui-textbox" style="width:70px;" readonly><span class="label">楼</span>
                    <span class="label">共</span><input name="lastname" class="easyui-textbox" style="width:70px;" readonly><span class="label">楼</span>
                </td>
            </tr>
            <tr>
                <td>房屋面积:</td>
                <td>
                    <input name="lastname" class="easyui-textbox" style="width:70px;" readonly><span class="label">室</span>
                    <input name="lastname" class="easyui-textbox" style="width:70px;" readonly><span class="label">厅</span>
                    <input name="lastname" class="easyui-textbox" style="width:70px;" readonly><span class="label">厨</span>
                    <input name="lastname" class="easyui-textbox" style="width:70px;" readonly><span class="label">卫</span>
                    <span class="label">面积</span><input name="lastname" class="easyui-textbox" style="width:70px;" readonly><span class="label">平方米</span>
                </td>
            </tr>
        </table>
        <hr/>
        <table cellpadding="5">
            <tr>
                <td>房间号:</td>
                <td>01</td>
                <td>朝向:</td>
                <td>朝南</td>
                <td>特色:</td>
                <td>独卫</td>
            </tr>
            <tr>
                <td>配套设施:</td>
                <td>冰箱、洗衣机、空调、电视机</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </form>
</script>