<div class="easyui-layout" data-options="fit:true">
    <div class="easyui-layout" data-options="region:'center',fit:true">
        <div data-options="region:'north',split:true" style="height:60px;padding:10px;">
            <form class="top-search-form">
                <input type="hidden" name="CommunityID">
                <input type="hidden" name="VillageID">
                <input type="hidden" name="HouseID">
                <input type="hidden" name="RoomID">
                <table>
                    <tr>
                        <td>
                            状态：
                            <select name="RoomStatus" class="f1 easyui-combobox">
                                <option value="">-全部-</option>
                                <option value="-1">拆除</option>
                                <option value="4">待租</option>
                                <option value="1">预约</option>
                                <option value="2">入住</option>
                                <option value="3">维修</option>
                            </select>
                        </td>
                        <td>房间：<input class="easyui-combotree" data-options="
                                            url:'/YSService/BaseInfoService/GetTree3',
                                            method:'get',
                                            animate:true,
                                            panelHeight: 'auto',
                                            panelWidth: 300,
                                            valueField:'id',
                                            textField:'text',
                                            onClick: ys.modules.SignRoom.onRoomTreeChange
                                 " style="width:200px;">
                        </td>
                        <td style="padding-left:10px;">
                            租金(元)：
                            <input name="MinRent" class="easyui-numberbox" style="width:70px;"> ~ <input name="MaxRent" class="easyui-numberbox" style="width:70px;">
                        </td>
                        <td><input type="button" value="查询" onclick="ys.modules.SignRoom.loadMainData()"></td>
                    </tr>
                </table>
            </form>
        </div>
        <div data-options="region:'center'"><table class="main"></table></div>
    </div>
    <div data-options="region:'east',split:true" style="width:700px;padding:10px;">
            <div>
                <form class="signForm" novalidate>
                    <input name="RoomID" type="hidden">
                    <input name="TenantID" type="hidden">
                    <h5>合同信息</h5>
                    <fieldset>
                        <table>
                            <tr>
                                <td>合同编号:</td>
                                <td><input name="TenantContractNo" class="easyui-textbox" style="width:120px;" data-options="required:true"></td>
                                <td>房屋租金:</td>
                                <td><input name="Rent" class="easyui-numberbox" style="width:120px;" data-options="precision:2,required:true">元/月</td>
                                <td>房屋押金(元):</td>
                                <td><input name="Deposit" class="easyui-numberbox" style="width:120px;" data-options="precision:2">元</td>
                            </tr>
                            <tr>
                                <td>服务费(元):</td>
                                <td><input name="ServiceCharge" class="easyui-numberbox" style="width:120px;" data-options="precision:2"></td>
                                <td>
                                    押
                                </td>
                                <td>
                                    <select name="DepositCout" class="easyui-combobox" data-options="required:true" style="width:120px;"><option value="0">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option></select>
                                </td>
                                <td>付</td>
                                <td>
                                    <select name="PayCout" class="easyui-combobox" data-options="required:true" style="width:120px;"><option value="0">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="6">6</option><option value="12">12</option></select>
                                </td>
                            </tr>
                            <tr>
                                <td>起租日:</td>
                                <td><input class="easyui-datebox" name="BeginDate" style="width:120px;"></td>
                                <td>截止日:</td>
                                <td><input class="easyui-datebox" name="EndDate" style="width:120px;"></td>
                                <td>销售员：</td>
                                <td><input class="easyui-combobox"
                                           name="HousekeeperID"
                                           data-options="
                                            loader: ys.loaders.houseKeeperLoader,
                                            valueField:'SendeeID',
                                            textField:'SendeeName',
                                            panelHeight:'auto',
                                            required:true
                                    " style="width:120px;" >
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                    <h5>入住人 <a href="javascript:void(0)" class="easyui-link c6" iconCls="icon-edit" onclick="ys.modules.SignRoom.openRenterDlg()" style="width:90px">修改</a></h5>
                    <fieldset>
                        <table>
                            <tr>
                                <td>入住人姓名:</td>
                                <td><input name="TenantInfo.TenantName" class="easyui-textbox" style="width:120px;" readonly></td>
                                <td>入住人性别:</td>
                                <td>
                                    <select class="easyui-combobox" name="TenantInfo.Gender" readonly style="width:120px;">
                                        <option value="1">男</option>
                                        <option value="0">女</option>
                                    </select>
                                </td>
                                <td>入住人手机:</td>
                                <td><input name="TenantInfo.Phone" class="easyui-textbox" style="width:120px;" readonly></td>
                            </tr>
                            <tr>
                                <td>证件类型:</td>
                                <td>
                                    <input class="easyui-combobox"
                                           name="TenantInfo.IDTypeID"
                                           data-options="
                                            loader: ys.loaders.idTypeLoader,
                                            valueField:'IDTypeID',
                                            textField:'IDTypeIDName',
                                            panelHeight:'auto'
                                    " style="width:120px;" readonly>
                                </td>
                                <td>证件号码:</td>
                                <td><input name="TenantInfo.IDNo" class="easyui-textbox" style="width:120px;" readonly></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </fieldset>
                    <h5>优惠项 <a href="javascript:void(0)" class="easyui-link c6" iconCls="icon-edit" onclick="ys.modules.SignRoom.openDiscountDlg()" style="width:90px">修改</a></h5>
                    <input type="hidden" name="DiscountID">
                    <div id="signRoomTabFormDiscountInfo"></div>
                    <h5>签约备注</h5>
                    <div><textarea name="Remarks" style="width:100%;" rows="3"></textarea></div>
                </form>
                <div id="signTenantContractDlgBtns">
                    <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="ys.modules.SignRoom.confirm()" style="width:90px">确认</a>
                    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="ys.modules.SignRoom.reset()" style="width:90px">取消</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="signRoomRenterDlg" class="easyui-dialog" style="width:800px;"  modal="true"
     closed="true" buttons="#signRoomRenterDlgBtns">
    <div class="easyui-layout" data-options="fit:true" style="height:550px;">
        <div data-options="region:'north',split:true" style="height:56px;padding:10px;">
            <form class="dlg-search-form">
                <table>
                    <tr>
                        <td>名称：<input class="easyui-textbox" name="TenantName" style="width:120px;"></td>
                        <td>手机：<input class="easyui-textbox" name="Phone" style="width:120px;"></td>
                        <td>证件号码：<input class="easyui-textbox" name="IDNo" style="width:200px;"></td>
                        <td><input type="button" value="查询" onclick="ys.modules.SignRoom.queryRenters()"></td>
                    </tr>
                </table>
            </form>
        </div>
        <div data-options="region:'center'">
            <table class="renter"></table>
        </div>
    </div>
</div>
<div id="signRoomRenterDlgBtns">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="javascript:ys.modules.SignRoom.selectRenter()" style="width:90px">确认</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('.easyui-dialog').dialog('close')" style="width:90px">取消</a>
</div>

<div id="signRoomEditRenterDlg" class="easyui-dialog" style="width:600px;padding:10px 20px"  modal="true"
     closed="true" buttons="#signRoomEditRenterDlgBtns">
    <form id="fm" method="post" novalidate>
        <input name="TenantID" type="hidden">
        <div class="fitem">
            <label>姓名:</label>
            <input name="TenantName" class="easyui-textbox" data-options="required:true">
        </div>
        <div class="fitem">
            <label>手机:</label>
            <input name="Phone" class="easyui-textbox" data-options="required:true">
        </div>
        <div class="fitem">
            <label>性别:</label>
            <select class="easyui-combobox" name="Gender" data-options="required:true">
                <option value="1">男</option>
                <option value="0">女</option>
            </select>
        </div>
        <div class="fitem">
            <label>国籍:</label>
            <input name="Nationality" class="easyui-textbox">
        </div>
        <div class="fitem">
            <label>证件类型:</label>
            <input class="easyui-combobox"
                   name="IDTypeID"
                   style="width:300px"
                   data-options="
                    loader: ys.loaders.idTypeLoader,
                    valueField:'IDTypeID',
                    textField:'IDTypeIDName',
                    panelHeight:'auto'
            ">
        </div>
        <div class="fitem">
            <label>证件号码:</label>
            <input name="IDNo" class="easyui-textbox">
        </div>
        <div class="fitem">
            <label>职业:</label>
            <input name="Profession" class="easyui-textbox">
        </div>
        <div class="fitem">
            <label>学历:</label>
            <input class="easyui-combobox"
                   name="EducationTypeID"
                   data-options="
					data:ys.Constant.EDUCATION,
					method:'get',
					valueField:'id',
					textField:'text',
					panelHeight:'auto'
			">
        </div>
        <div class="fitem">
            <label>出生日期:</label>
            <input name="DateOfBirth" class="easyui-datebox">
        </div>
        <div class="fitem">
            <label>星座:</label>
            <input class="easyui-combobox"
                   name="ConstellationID"
                   data-options="
					data:ys.Constant.CONSTELLATION,
					method:'get',
					valueField:'id',
					textField:'text',
					panelHeight:'auto'
			">
        </div>
        <div class="fitem">
            <label>爱好:</label>
            <input name="Hobbies" class="easyui-textbox">
        </div>
        <div class="fitem">
            <label>紧急联系人:</label>
            <input name="EmergencyContact" class="easyui-textbox">
        </div>
        <div class="fitem">
            <label>紧急联系人电话:</label>
            <input name="EmergencyPhone" class="easyui-textbox">
        </div>
        <div class="fitem">
            <label>来源:</label>
            <input class="easyui-combobox"
                   name="SourceID"
                   data-options="
					data:ys.Constant.SOURCE,
					method:'get',
					valueField:'id',
					textField:'text',
					panelHeight:'auto'
			">
        </div>
    </form>
</div>
<div id="signRoomEditRenterDlgBtns">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="ys.modules.SignRoom.saveRenter()" style="width:90px">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#signRoomEditRenterDlg').dialog('close')" style="width:90px">取消</a>
</div>

<div id="signRoomTabDiscountDlg" class="easyui-dialog" style="width:800px;"  modal="true"
     closed="true" buttons="#signRoomTabDiscountDlgBtns">
    <div class="easyui-layout" data-options="fit:true" style="height:550px;">
        <div data-options="region:'center'">
            <table id="signRoomTabDiscountGrid" class="easyui-datagrid"
                   data-options="singleSelect:true,fit:true,fitColumns:true">
                <thead>
                <tr>
                    <th data-options="field:'CK',checkbox:true" width="80"></th>
                    <th data-options="field:'DiscountName'" width="100">活动名称</th>
                    <th data-options="field:'DiscountBegin'" width="100">开始时间</th>
                    <th data-options="field:'DiscountEnd'" width="100">结束时间</th>
                    <th data-options="field:'FristAmount'" width="100">首次减免数</th>
                    <th data-options="field:'MonthDiscount'" width="100">每月折扣</th>
                    <th data-options="field:'MonthAmount'" width="100">每月减免数</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<div id="signRoomTabDiscountDlgBtns">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="javascript:ys.modules.SignRoom.selectDiscount()" style="width:90px">确认</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('.easyui-dialog').dialog('close')" style="width:90px">取消</a>
</div>

<script>
ys.modules.SignRoom =  (function(){
    function loadMainData(){
        var params = $.form2JsonNotNull($('#signRoomTab').find('.top-search-form'));
        $.ajax({
            url: '/YSService/RoomService/GetRoom',
            method: 'POST',
            data: JSON.stringify(params),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (resp) {
                $('#signRoomTab').find('table.main').datagrid('loadData', {
                    total: resp.length,
                    rows: resp
                });
            },
            error: function (XMLHttpRequest, textStatus, thrownError) {
                alert("Error Occured!");
            }
        });
    };

    function onRoomTreeChange(node){
        var form = $('#signRoomTab').find('.top-search-form');
        if(node.type=='community'){
            form.form('load',{CommunityID:node.id,VillageID:'',HouseID:'',RoomID:''});
        } if(node.type=='village'){
            form.form('load',{CommunityID:'',VillageID:node.id,HouseID:'',RoomID:''});
        } if(node.type=='house'){
            form.form('load',{CommunityID:'',VillageID:'',HouseID:node.id,RoomID:''});
        }
    };

    function selectDiscount(i, data){
        var tbl = $('#signRoomTabDiscountGrid');
        if(tbl.datagrid('getSelections').length < 1){
            $.messager.alert('提示','请先选择一个优惠项！','info');
            return;
        }
        var discount = tbl.datagrid('getSelected');
        $('#signRoomTab').find('form.signForm').form('load',{'DiscountID': discount.DiscountID});
        var info = discount.DiscountName + ': ' +
                (discount.FristAmount? (' 首次减免' + discount.FristAmount) : '')  + ', ' +
                (discount.MonthDiscount? (' 每月折扣' + discount.MonthDiscount) : '')  + ', ' +
                (discount.MonthAmount? (' 每月减免' + discount.MonthAmount) : '');
        $('#signRoomTabFormDiscountInfo').html(info);
        $('.easyui-dialog').dialog('close');
    };

    function openDiscountDlg(){
        $('#signRoomTabDiscountDlg').dialog('open').dialog('center').dialog('setTitle','选择优惠项');
    };

    function confirm(){
        if($('#signRoomTab').find('table.main').datagrid('getSelections').length < 1){
            $.messager.alert('提示','请先选择要签约的房间！','info');
            return;
        }
        var form = $('#signRoomTab').find('form.signForm');
        if(!form.form('validate'))return;
        var formData =  form.serializeArray();
        var data = {};
        data.TenantInfo = {};

        $.each(formData, function(i, v) {
            if(v.name.indexOf('TenantInfo.') == 0) {
                var keys = v.name.split('.');
                //data[keys[0]][keys[1]] = keys[1]=='DateOfBirth'?  $.jsDateStr2WcfDate(v.value) : v.value;
            } else if (v.name == 'BeginDate' || v.name == 'EndDate') {
                data[v.name] = $.jsDateStr2WcfDate(v.value);
            } else {
                data[v.name] = v.value;
            }
        });

        if(!data.TenantID || data.TenantID == '0'){
            $.messager.alert('提示','请选择一个入住人！','info');
            return;
        };
        if(!data.DiscountID){
            delete data.DiscountID;
        }

        $.ajax({
            url: '/YSService/TenantContractService/Add',
            type: "POST",
            data: JSON.stringify(data),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (msg) {
                $.messager.alert('提示','签约成功！','success');
            },
            error: function (XMLHttpRequest, textStatus, thrownError) {
                alert("Error Occured!");
            }
        });
    };

    function reset(){
        var data = $('#signRoomTab').find('table.main').datagrid('getSelected');
        var form = $('#signRoomTab').find('form.signForm');
        form.form('clear');
        var start = new Date();
        start = $.jsDate2jsDateStr(start);
        var end = new Date();
        end.setFullYear(end.getFullYear() + 1);
        end = $.jsDate2jsDateStr(end);
        form.form('load', {RoomID: data.RoomID,DepositCout:1,PayCout:3,BeginDate:start,EndDate:end});
    };

    function openRenterDlg(){
        $('#signRoomRenterDlg').dialog('open').dialog('center').dialog('setTitle','选择入住人');
    };

    function queryRenters(){
        var params = $.form2JsonNotNull($('#signRoomRenterDlg').find('.dlg-search-form'));
        $.ajax({
            url: '/YSService/TenantService/GetDataList',
            method: 'POST',
            data: JSON.stringify(params),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (resp) {
                $.each(resp, function(i,item){
                    item['DateOfBirth'] = $.wcfDate2JsDateStr(item['DateOfBirth']);
                });
                $('#signRoomRenterDlg').find('table.renter').datagrid('loadData', {
                    total: resp.length,
                    rows: resp
                });
            },
            error: function (XMLHttpRequest, textStatus, thrownError) {
                alert("Error Occured!");
            }
        });
    };

    function selectRenter(i, data){
        var tbl = $('#signRoomRenterDlg').find('table.renter');
        if(tbl.datagrid('getSelections').length < 1){
            $.messager.alert('提示','请选择入住人！','info');
            return;
        }
        var renter = tbl.datagrid('getSelected');
        $('#signRoomTab').find('form.signForm').form('load',{
            'TenantID': renter.TenantID,
            'TenantInfo.TenantName': renter.TenantName,
            'TenantInfo.Phone': renter.Phone,
            'TenantInfo.Gender': renter.Gender,
            'TenantInfo.IDTypeID': renter.IDTypeID,
            'TenantInfo.IDNo': renter.IDNo
        });
        $('.easyui-dialog').dialog('close');
    };

    function saveRenter(){
        var dlg = $('#signRoomEditRenterDlg'), form = dlg.find('form');
        if(!form.form('validate'))return;
        var formData =  form.serializeArray();
        var data = {};
        $.each(formData, function(i, v) {
            if (v.name == 'DateOfBirth') {
                data[v.name] = $.jsDateStr2WcfDate(v.value);
            } else {
                data[v.name] = v.value;
            }
        });
        var url = '/YSService/TenantService/Add';
        if(data['TenantID'] != '0'){
            url = '/YSService/TenantService/Update';
        }
        $.ajax({
            url: url,
            type: "POST",
            data: JSON.stringify(data),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (msg) {
                queryRenters();
                dlg.dialog('close');
            },
            error: function (XMLHttpRequest, textStatus, thrownError) {
                alert("Error Occured!");
            }
        });
    };

    function deleteRenter(){
        var mainTbl = $('#signRoomRenterDlg').find('table.renter');
        if(mainTbl.datagrid('getSelections').length < 1){
            $.messager.alert('提示','请先选择要删除的数据','info');
            return;
        }
        var data = mainTbl.datagrid('getSelected');
        $.messager.confirm('确认','确认删除?',function(r){
            if (r){
                $.ajax({
                    url: '/YSService/TenantService/Delete',
                    type: "POST",
                    data: JSON.stringify({TenantID: data.TenantID}),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (msg) {
                        queryRenters();
                    },
                    error: function (XMLHttpRequest, textStatus, thrownError) {
                        alert("Error Occured!");
                    }
                });
            }
        });
    };

    return {
        onRoomTreeChange: onRoomTreeChange,
        loadMainData: loadMainData,
        openDiscountDlg: openDiscountDlg,
        selectDiscount: selectDiscount,
        confirm: confirm,
        reset: reset,
        openRenterDlg: openRenterDlg,
        queryRenters: queryRenters,
        selectRenter: selectRenter,
        saveRenter: saveRenter,
        deleteRenter: deleteRenter
    };
})();

window.grid.cfg.signRoom = {
    singleSelect:true,
    rownumbers: true,
    fit: true,
    columns:[[
        {field:'RoomNo',title:'房间号',width:100},
        { field: 'RoomStatusName', title: '状态', width: 60 },
        { field: 'RentStatusName', title: '上线状态', width: 60 },
        {field:'Direction',title:'朝向',width:40, formatter: function(v){return ys.Constant.DIRECTION[v].text;}},
        {field:'RoomArae',title:'面积(m<sup>2</sup>)',width:60},
        {field:'RommRenovation',title:'配套设施', width:300, formatter: function(v, r){
            var result = '', list = r.RommRenovation;
            for(var i = 0; list && i < list.length; ++i){
                result += i < list.length - 1? (list[i].RenovationName + ', ') : list[i].RenovationName;
            }
            return result;
        }},
       {field:'Rent',title:'定价(元)',width:100}
    ]],
    onSelect:function(i, data){
        var form = $('#signRoomTab').find('form.signForm');
        form.form('clear');
        var start = new Date();
        start = $.jsDate2jsDateStr(start);
        var end = new Date();
        end.setFullYear(end.getFullYear() + 1);
        end = $.jsDate2jsDateStr(end);
        form.form('load', {RoomID: data.RoomID,DepositCout:1,PayCout:3,BeginDate:start,EndDate:end});
    }
};

window.grid.cfg.signRoom.renter =  {
    singleSelect:true,
    rownumbers: true,
    pagination: true,
    fit: true,
    columns:[[
        {field:'CK',checkbox:true,width:80},
        {field:'TenantName',title:'姓名',width:100},
        {field:'Phone',title:'手机',width:100},
        {field:'Gender',title:'性别',width:40, formatter: function(v){return v? '男':'女';}},
        {field:'Nationality',title:'国籍',width:100},
        {field:'IDTypeName',title:'护照类型',width:70},
        {field:'IDNo',title:'证件号码',width:100},
        {field:'Profession',title:'职业',width:50},
        {field:'EducationTypeID',title:'学历',width:50, formatter: function(v){return ys.Constant.EDUCATION[v-1].text;}},
        {field:'DateOfBirth',title:'出生日期',width:70},
        {field:'ConstellationID',title:'星座',width:50, formatter: function(v){return ys.Constant.CONSTELLATION[v-1].text;}},
        {field:'Hobbies',title:'爱好',width:100},
        {field:'EmergencyContact',title:'紧急联系人',width:100},
        {field:'EmergencyPhone',title:'紧急联系人电话',width:100},
        {field:'SourceID',title:'来源',width:70, formatter: function(v){return ys.Constant.SOURCE[v-1].text;}}
    ]],
    toolbar: [{
        id: '',
        text: '新增',
        iconCls: 'icon-add',
        handler: function () {
            var dlg = $('#signRoomEditRenterDlg'), form = dlg.find('form');
            dlg.dialog('open').dialog('center').dialog('setTitle','新增租客信息');
            form.form('clear');
            form.form('load', {TenantID:0})
        }
    }, "-", {
        id: '',
        text: '编辑',
        iconCls: 'icon-edit',
        handler: function () {
            var dlg = $('#signRoomEditRenterDlg'), form = dlg.find('form'), mainTbl = $('#signRoomRenterDlg').find('table.renter');
            if(mainTbl.datagrid('getSelections').length < 1){
                $.messager.alert('提示','请先选择要编辑的数据','info');
                return;
            }
            dlg.dialog('open').dialog('center').dialog('setTitle','编辑租客信息');
            form.form('load', mainTbl.datagrid('getSelected'));
        }
    }, "-", {
        id: '',
        text: '删除',
        iconCls: 'icon-remove',
        handler: ys.modules.SignRoom.deleteRenter
    }, "-"]
};

(function(){
    $('#signRoomRenterDlg').find('table.renter').datagrid(window.grid.cfg.signRoom.renter);

    $.ajax({
        url: '/YSService/DiscountService/GetDataList',
        method: 'POST',
        data: JSON.stringify({DiscountStatus: 1}),
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        success: function (resp) {
            $.each(resp, function(i,item){
                item['DiscountBegin'] = $.wcfDate2JsDateStr(item['DiscountBegin']);
                item['DiscountEnd'] = $.wcfDate2JsDateStr(item['DiscountEnd']);
                item['CreateDate'] = $.wcfDate2JsDateStr(item['CreateDate']);
            });
            $('#signRoomTabDiscountGrid').datagrid('loadData', {
                total: resp.length,
                rows: resp
            });
        },
        error: function (XMLHttpRequest, textStatus, thrownError) {
            alert("Error Occured!");
        }
    });
})();
</script>


