<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north',split:true" style="height:60px;padding:10px;">
        <form class="top-search-form">
            <input type="hidden" name="CommunityID">
            <input type="hidden" name="VillageID">
            <input type="hidden" name="HouseID">
            <input type="hidden" name="RoomID">
            <table>
                <tr>
                    <td>房间：<input class="easyui-combotree" data-options="
                    					url:'/YSService/BaseInfoService/GetTree3',
                                        method:'get',
                                        animate:true,
                                        panelHeight: 'auto',
                                        panelWidth: 300,
                                        valueField:'id',
                                        textField:'text',
                                        onClick: ys.modules.SignRoom.onRoomTreeChange
                             " style="width:200px;">
                    </td>
                    <td><input type="button" value="查询" onclick="ys.modules.SignRoom.loadMainData()"></input></td>
                </tr>
            </table>
        </form>
    </div>
    <div data-options="region:'center'"><table class="main"></table></div>
    <div data-options="region:'south',split:true" style="height:260px;padding:10px;">
            <div>
                <h5>入住人信息</h5>
                <form class="signForm" method="post" novalidate>
                    <input name="RoomID" type="hidden">
                    <table cellpadding="5">
                        <tr>
                            <td>合同编号:</td>
                            <td><input name="TenantContractNo" class="easyui-textbox" style="width:150px;" ></td>
                            <td>房屋租金:</td>
                            <td><input name="PayRent" class="easyui-numberbox" style="width:150px;" data-options="precision:2">元/月</td>
                            <td>房屋押金:</td>
                            <td><input name="Deposit" class="easyui-numberbox" style="width:150px;" data-options="precision:2">元/月</td>
                        </tr>
                        <tr>
                            <td>服务费:</td>
                            <td><input name="ServiceCharge" class="easyui-numberbox" style="width:150px;" data-options="precision:2"></td>
                            <td>付:</td>
                            <td><input name="PayCout" class="easyui-numberbox" style="width:150px;" data-options=""></td>
                            <td>押:</td>
                            <td><input name="DepositCout" class="easyui-numberbox" style="width:150px;" data-options=""></td>
                        </tr>
                        <tr>
                            <td>入住人姓名:</td>
                            <td><input name="TenantInfo.TenantName" class="easyui-textbox" style="width:150px;" ></td>
                            <td>入住人性别:</td>
                            <td>
                                <select class="easyui-combobox" name="TenantInfo.Gender">
                                    <option value="1">男</option>
                                    <option value="0">女</option>
                                </select>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>入住人手机:</td>
                            <td><input name="TenantInfo.Phone" class="easyui-textbox" style="width:150px;" ></td>
                            <td>起租日:</td>
                            <td><input class="easyui-datebox" name="BeginDate"></input></td>
                            <td>入住日期:</td>
                            <td><input class="easyui-datebox" name="EndDate"></input></td>
                        </tr>
                        <tr>
                            <td>星座:</td>
                            <td>
                                <input class="easyui-combobox"
                                       name="TenantInfo.ConstellationID"
                                       data-options="
                                        data:ys.Constant.CONSTELLATION,
                                        method:'get',
                                        valueField:'id',
                                        textField:'text',
                                        panelHeight:'auto'
                                ">
                            </td>
                            <td>国籍:</td>
                            <td><input name="TenantInfo.Nationality" class="easyui-textbox" style="width:150px;" ></td>
                            <td>租金付款方式:</td>
                            <td>
                                <input class="easyui-combobox"
                                       name="PayTypeID"
                                       data-options="
                                        loader: ys.loaders.payTypeLoader,
                                        valueField:'PayTypeID',
                                        textField:'PayTypeName',
                                        panelHeight:'auto'
                                ">
                            </td>
                        </tr>
                        <tr>
                            <td>爱好:</td>
                            <td><input name="TenantInfo.Hobbies" class="easyui-textbox" style="width:150px;" ></td>
                            <td>职业:</td>
                            <td><input name="TenantInfo.Profession" class="easyui-textbox" style="width:150px;" ></td>
                            <td>销售管家:</td>
                            <td><input name="TenantInfo.HousekeeperID" class="easyui-textbox" style="width:150px;" ></td>
                        </tr>
                        <tr>
                            <td>证件类型:</td>
                            <td>
                                <input class="easyui-combobox"
                                       name="TenantInfo.IDTypeID"
                                       data-options="
                                        loader: ys.loaders.idTypeLoader,
                                        valueField:'IDTypeID',
                                        textField:'IDTypeIDName',
                                        panelHeight:'auto'
                                ">
                            </td>
                            <td>证件号码:</td>
                            <td><input name="TenantInfo.IDNo" class="easyui-textbox" style="width:150px;" ></td>
                            <td>紧急联系人:</td>
                            <td><input name="TenantInfo.EmergencyContact" class="easyui-textbox" style="width:150px;" ></td>
                        </tr>
                        <tr>
                            <td>学历:</td>
                            <td>
                                <input class="easyui-combobox"
                                       name="TenantInfo.EducationTypeID"
                                       data-options="
                                        data:ys.Constant.EDUCATION,
                                        method:'get',
                                        valueField:'id',
                                        textField:'text',
                                        panelHeight:'auto'
                                ">
                            </td>
                            <td>出生日期:</td>
                            <td><input class="easyui-datebox" name="TenantInfo.DateOfBirth"></input></td>
                            <td>紧急联系人电话:</td>
                            <td><input name="TenantInfo.EmergencyPhone" class="easyui-textbox" style="width:150px;" ></td>
                        </tr>
                        <tr>
                            <td>租客来源:</td>
                            <td>
                                <input class="easyui-combobox"
                                       name="TenantInfo.SourceID"
                                       data-options="
                                        data:ys.Constant.SOURCE,
                                        method:'get',
                                        valueField:'id',
                                        textField:'text',
                                        panelHeight:'auto'
                                ">
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                    <h5>优惠项 <a href="javascript:void(0)" class="easyui-link c6" iconCls="icon-edit" onclick="ys.modules.SignRoom.openDiscountDlg()" style="width:90px">修改</a></h5>
                    <input type="hidden" name="DiscountID">
                    <div id="signRoomTabFormDiscountInfo"></div>
                    <h5>签约备注</h5>
                    <div><textarea name="Remarks" style="width:100%;" rows="3"></textarea></div>
                </form>
                <div id="signTenantContractDlgBtns">
                    <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="ys.modules.SignRoom.confirm()" style="width:90px">确认</a>
                    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('.easyui-dialog').dialog('close')" style="width:90px">取消</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="signRoomTabDiscountDlg" class="easyui-dialog" style="width:800px;"  modal="true"
     closed="true" buttons="#signRoomTabDiscountDlgBtns">
    <div class="easyui-layout" data-options="fit:true" style="height:550px;">
        <div data-options="region:'center'">
            <table id="signRoomTabDiscountGrid" class="easyui-datagrid"
                   data-options="singleSelect:true,fit:true,fitColumns:true">
                <thead>
                <tr>
                    <th data-options="field:'CK',checkbox:true" width="80"></th>
                    <th data-options="field:'DiscountName'" width="100">活动名称</th>
                    <th data-options="field:'DiscountBegin'" width="100">开始时间</th>
                    <th data-options="field:'DiscountEnd'" width="100">结束时间</th>
                    <th data-options="field:'FristAmount'" width="100">首次减免数</th>
                    <th data-options="field:'MonthDiscount'" width="100">每月折扣</th>
                    <th data-options="field:'MonthAmount'" width="100">每月减免数</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<div id="signRoomTabDiscountDlgBtns">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="javascript:ys.modules.SignRoom.selectDiscount()" style="width:90px">确认</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('.easyui-dialog').dialog('close')" style="width:90px">取消</a>
</div>

<script>
ys.modules.SignRoom =  (function(){
    function loadMainData(){
        var params = $.form2JsonNotNull($('#signRoomTab').find('.top-search-form'));
        $.ajax({
            url: '/YSService/OnLineService/GetRoomInfo',
            method: 'POST',
            data: JSON.stringify(params),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (resp) {
                $('#signRoomTab').find('table.main').datagrid('loadData', {
                    total: resp.length,
                    rows: resp
                });
            },
            error: function (XMLHttpRequest, textStatus, thrownError) {
                alert("Error Occured!");
            }
        });
    };

    function onRoomTreeChange(node){
        var form = $('#signRoomTab').find('.top-search-form');
        if(node.type=='community'){
            form.form('load',{CommunityID:node.id,VillageID:'',HouseID:'',RoomID:''});
        } if(node.type=='village'){
            form.form('load',{CommunityID:'',VillageID:node.id,HouseID:'',RoomID:''});
        } if(node.type=='house'){
            form.form('load',{CommunityID:'',VillageID:'',HouseID:node.id,RoomID:''});
        }
    };

    function selectDiscount(i, data){
        var tbl = $('#signRoomTabDiscountGrid');
        if(tbl.datagrid('getSelections').length < 1){
            $.messager.alert('提示','请先选择一个优惠项！','info');
            return;
        }
        var discount = tbl.datagrid('getSelected');
        $('#signRoomTab').find('form.signForm').form('load',{'DiscountID': discount.DiscountID});
        var info = discount.DiscountName + ': ' +
                (discount.FristAmount? (' 首次减免' + discount.FristAmount) : '')  +
                (discount.MonthDiscount? (' 每月折扣' + discount.MonthDiscount) : '')  +
                (discount.MonthAmount? (' 每月减免' + discount.MonthAmount) : '');
        $('#signRoomTabFormDiscountInfo').html(info);
        $('.easyui-dialog').dialog('close');
    };

    function openDiscountDlg(){
        $('#signRoomTabDiscountDlg').dialog('open').dialog('center').dialog('setTitle','选择优惠项');
    };

    function confirm(){
        if($('#signRoomTab').find('table.main').datagrid('getSelections').length < 1){
            $.messager.alert('提示','请先选择要签约的房间！','info');
            return;
        }
        var form = $('#signRoomTab').find('form.signForm');
        if(!form.form('validate'))return;
        var formData =  form.serializeArray();
        var data = {};
        data.TenantInfo = {};
        $.each(formData, function(i, v) {
            if(v.name.indexOf('TenantInfo.') == 0) {
                var keys = v.name.split('.');
                data[keys[0]][keys[1]] = keys[1]=='DateOfBirth'?  $.jsDateStr2WcfDate(v.value) : v.value;
            } else if (v.name == 'BeginDate' || v.name == 'EndDate') {
                data[v.name] = $.jsDateStr2WcfDate(v.value);
            } else {
                data[v.name] = v.value;
            }
        });

        $.ajax({
            url: '/YSService/TenantContractService/Add',
            type: "POST",
            data: JSON.stringify(data),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (msg) {
                $.messager.alert('提示','房间预订成功！','success');
            },
            error: function (XMLHttpRequest, textStatus, thrownError) {
                alert("Error Occured!");
            }
        });
    };

    return {
        onRoomTreeChange: onRoomTreeChange,
        loadMainData: loadMainData,
        openDiscountDlg: openDiscountDlg,
        selectDiscount: selectDiscount,
        confirm: confirm
    };
})();

window.grid.cfg.signRoom = {
    singleSelect:true,
    rownumbers: true,
    fit: true,
    columns:[[
        {field:'RoomNo',title:'房间号',width:70},
        {field:'Direction',title:'朝向',width:40, formatter: function(v){return ys.Constant.DIRECTION[v].text;}},
        {field:'RoomArae',title:'面积(m<sup>2</sup>)',width:60},
        {field:'RommRenovation',title:'配套设施', width:300, formatter: function(v, r){
            var result = '', list = r.RommRenovation;
            for(var i = 0; list && i < list.length; ++i){
                result += i < list.length - 1? (list[i].RenovationName + ', ') : list[i].RenovationName;
            }
            return result;
        }}
    ]],
    onSelect:function(i, data){
        var form = $('#signRoomTab').find('form.signForm');
        form.form('clear');
        form.form('load', {RoomID: data.RoomID});
    }
};

(function(){
    $.ajax({
        url: '/YSService/DiscountService/GetDataList',
        method: 'POST',
        data: JSON.stringify({DiscountStatus: 1}),
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        success: function (resp) {
            $.each(resp, function(i,item){
                item['DiscountBegin'] = $.wcfDate2JsDateStr(item['DiscountBegin']);
                item['DiscountEnd'] = $.wcfDate2JsDateStr(item['DiscountEnd']);
                item['CreateDate'] = $.wcfDate2JsDateStr(item['CreateDate']);
            });
            $('#signRoomTabDiscountGrid').datagrid('loadData', {
                total: resp.length,
                rows: resp
            });
        },
        error: function (XMLHttpRequest, textStatus, thrownError) {
            alert("Error Occured!");
        }
    });
})();
</script>


