<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'center'">
        <div class="easyui-layout" data-options="fit:true">
            <div data-options="region:'north',split:true" style="height:80px;padding:10px;">
                <form class="top-search-form">
                    <input type="hidden" name="CommunityID">
                    <input type="hidden" name="VillageID">
                    <input type="hidden" name="HouseID">
                    <table>
                        <tr>
                            <td>检索房源：<input class="easyui-combotree" data-options="
                    					url:'/YSService/BaseInfoService/GetTree2',
                                        method:'get',
                                        animate:true,
                                        panelHeight: 'auto',
                                        panelWidth: 300,
                                        valueField:'id',
                                        textField:'text',
                                        onClick: ys.modules.Trends.onRoomTreeChange
                             " style="width:200px;">
                                <label style="margin-left:10px;">租金范围:</label>
                                <input name="MinRent" class="easyui-numberbox" data-options="precision:2" style="width:70px;">&#160;-&#160;
                                <input name="MaxRent" class="easyui-numberbox" data-options="precision:2" style="width:70px;">
                                <label>房间状态:</label>
                                <input class="easyui-combobox"
                                       name="RoomStatus"
                                       value="-2"
                                       data-options="
                                    data:ys.Constant.ROOM_STATUS,
                                    method:'get',
                                    valueField:'id',
                                    textField:'text',
                                    panelHeight:'auto'
                            ">
                            </td>
                            <td><input type="button" value="查询" onclick="ys.modules.Trends.loadMainData()"></td>
                        </tr>
                        <tr>
                            <td>
                                <label>房间特色：</label><span class="renovation-list"></span>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div data-options="region:'center'"><div class="masonry-grid"></div></div>
        </div>
    </div>
</div>

<script>
ys.modules.Trends =  (function(){
    function loadMainData(){
        var formData = $('#trendsTab').find('.top-search-form').serializeArray();
        var data = {
            ListRenovations:[],
            PageIndex: 1,
            PageSize: 9999
        };
        $.each(formData, function(i, v) {
            if(v.name == 'RommRenovationItem'){
                data['ListRenovations'].push({
                    Renovations: v.value
                });
            } else if(v.value){
                data[v.name] = v.value;
            }
        });

        $.ajax({
            url: '/YSService/HouseRoomService/GetDataList',
            method: 'POST',
            data: JSON.stringify(data),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (resp) {
                $('#trendsTab').find('.masonry-grid').masonry('destroy');
                $('#trendsTab').find('.masonry-grid').empty();

                for(var i = 0;i < resp.ListHouseInfo.length; ++i){
                    var house = resp.ListHouseInfo[i];
                    var htmlStr = '<div class="card">'
                        + '<h5>' + house.CommunityName + '-' + house.HouseNO + '-' + house.VillageName + '</h5>'
                        + '<div class="card-content">';
                    for(var j = 0; j < house.RoomInfo.length; ++j){
                        var room = house.RoomInfo[j];
                        if(room.TenantInfo) {
                            htmlStr += '<div class="card-content-item clearfix">'
                                    + '<div class="pull-left item-head status' + room.RoomStatus + '">' + room.RoomNo + '<br>￥' + room.Rent + '</div>'
                                    + '<div class="pull-left item-content">'
                                    + '<p>' + ys.Constant.GENDER[room.TenantInfo.Gender].text + ' | ' + room.TenantInfo.Profession + ' | ' + ys.Constant.CONSTELLATION[room.TenantInfo.ConstellationID-1].text +  ' | ' + room.TenantInfo.Hobbies + '</p>'
                                    + '</div>'
                                    + '</div>';
                        } else {
                            var renovationStr = '', rr = room.RommRenovation;
                            for(var k = 0; rr && k < rr.length; ++k){
                                renovationStr += k < rr.length - 1? (rr[k].RenovationName + ', ') : rr[k].RenovationName;
                            };
                            htmlStr += '<div class="card-content-item clearfix">'
                                + '<div class="pull-left item-head status' + room.RoomStatus + '">' + room.RoomNo + '<br>￥' + room.Rent + '</div>'
                                + '<div class="pull-left item-content">'
                                    + '<p>' + house.FloorCount + '/' + house.Floor + ' | ' + room.RoomArae + 'm<sup>2</sup>' + ' | ' + room.DirectionName + '</p>'
                                    + '<p>' + renovationStr + '</p>'
                                + '</div>'
                                + '</div>';
                        }
                    }
                    htmlStr += '</div></div>';
                    $('#trendsTab').find('.masonry-grid').append(htmlStr);
                }
                $('#trendsTab').find('.masonry-grid').masonry({
                    // set itemSelector so .grid-sizer is not used in layout
                    itemSelector: '.card',
                    // use element for option
                    percentPosition: true
                });
            },
            error: function (XMLHttpRequest, textStatus, thrownError) {
                alert("Error Occured!");
            }
        });
    };

    function onRoomTreeChange(node){
        var form = $('#trendsTab').find('.top-search-form');
        if(node.type=='community'){
            form.form('load',{CommunityID:node.id,VillageID:'',HouseID:'',RoomID:''});
        } if(node.type=='village'){
            form.form('load',{CommunityID:'',VillageID:node.id,HouseID:'',RoomID:''});
        } if(node.type=='house'){
            form.form('load',{CommunityID:'',VillageID:'',HouseID:node.id,RoomID:''});
        }
    };

    return {
        loadMainData: loadMainData,
        onRoomTreeChange: onRoomTreeChange
    };
})();

(function(){
    ys.modules.Trends.loadMainData();
    //获取房间配套基础信息
    $.ajax({
        url: '/YSService/BaseInfoService/GetRoomRenovationList',
        method: 'GET',
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        success: function (resp) {
            var str='', i = 0;
            for(; i < resp.length; ++i){
                str += '<label style="margin:8px 4px;"><input type="checkbox" name="RommRenovationItem" value="' + resp[i].RenovationID + '">' + resp[i].RenovationName + '</label>'
            }
            $('#trendsTab .renovation-list').append(str);
        },
        error: function (XMLHttpRequest, textStatus, thrownError) {
            alert("Error Occured!");
        }
    });
})();

</script>