<script type="text/template" id="trendsTbTpl" >
    <form>
        <table>
            <tr>
                <td>社区筛选:</td>
                <td><select class="easyui-combobox" name="state" style="width:200px;"></select></td>
            </tr>
            <tr>
                <td>房源筛选:</td>
                <td>
                    <select class="easyui-combobox" name="state" style=""><option>区域</option></select>
                    <select class="easyui-combobox" name="state" style=""><option>地铁</option></select>
                    <select class="easyui-combobox" name="state" style=""><option>价格</option></select>
                    <select class="easyui-combobox" name="state" style=""><option>可订</option></select>
                    <input name="phone" class="f1 easyui-textbox" style="width:20px">天可入住
                </td>
            </tr>
            <tr>
                <td>房间特色:</td>
                <td>
                    <label>独卫<input type="checkbox"></label>
                    <label>飘窗<input type="checkbox"></label>
                    <label>朝南<input type="checkbox"></label>
                    <label>阳台<input type="checkbox"></label>
                    <label>电视<input type="checkbox"></label>
                    <label>可住2人<input type="checkbox"></label>
                    <label>可住2人以上<input type="checkbox"></label>
                    <label>整租<input type="checkbox"></label>
                </td>
            </tr>
            <tr>
                <td>排序:</td>
                <td><a>面积</a><a>价格</a></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="查询"></input></td>
            </tr>
        </table>
    </form>
    <div><img src="img/trends.png"></div>
</script>