<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north',split:true" style="height:56px;padding:10px;">
        <form class="top-search-form">
            <table>
                <tr>
                    <td>社区：<input class="easyui-combobox"
                                  name="CommunityID"
                                  data-options="
                            loader: ys.loaders.communityLoader,
                            valueField:'CommunityID',
                            textField:'CommunityName',
                            panelHeight:'auto'
                    ">
                    </td>
                    <td>物业公司：<input class="easyui-combobox"
                                    name="PropertyID"
                                    data-options="
                            loader: ys.loaders.propertyLoader,
                            valueField:'PropertyID',
                            textField:'PropertyName',
                            panelHeight:'auto'
                    ">
                    </td>
                    <td><input type="button" value="查询" onclick="ys.modules.Village.loadMainData()"></td>
                </tr>
            </table>
        </form>
    </div>
    <div data-options="region:'center'"><table class="main"></table></div>
</div>

<div id="editVillageDlg" class="easyui-dialog" style="width:900px;padding:10px 20px"  modal="true"
     closed="true" data-options="buttons: '#editVillageDlgBtns'">
    <div class="pull-left" style="width:400px;">
        <form id="fm" method="post" novalidate>
            <input name="VillageID" type="hidden">
            <input name="Lat" type="hidden">
            <input name="Lng" type="hidden">
            <table cellpadding="5">
                <tr>
                    <td style="width:80px;">小区名称:</td>
                    <td><input name="VillageName" class="easyui-textbox" data-options="required:true"></td>
                </tr>
                <tr>
                    <td>区:</td>
                    <td>
                        <input class="easyui-combobox"
                               name="VillArea"
                               style="width: 302px;"
                               data-options="
									data:ys.Constant.SH_AREAS,
									method:'get',
									valueField:'id',
									textField:'text',
									required:true,
									panelHeight:'auto'
							">
                    </td>
                </tr>
                <tr>
                    <td>路:</td>
                    <td><input name="VillRaod" class="easyui-textbox" data-options="required:true"></td>
                </tr>
                <tr>
                    <td>弄:</td>
                    <td><input name="VillNong" class="easyui-textbox" data-options="required:true"></td>
                </tr>
                <tr>
                    <td>小区地址:</td>
                    <td><input name="VillageAddress" class="easyui-textbox" data-options="required:true"></td>
                </tr>
                <tr>
                    <td>地铁:</td>
                    <td>
                        <input class="easyui-combotree"
                               name="listMetroLine"
                               data-options="
                                url:'/YSService/BaseInfoService/GetMetroLine',
                                method:'get',
                                animate:true,
                                panelHeight: '400',
                                panelWidth: 300,
                                valueField:'id',
                                textField:'text',
                                state:'closed',
                                onBeforeCheck: function(node){if(node.type==1)return false;},
                                onClick: ys.modules.Village.onMetroLineChange

                     " style="width:302px;" multiple>
                    </td>
                </tr>
                <tr class="fitem">
                    <td>物业公司:</td>
                    <td><input class="easyui-combobox"
                           name="PropertyID"
                           style="width:300px"
                           data-options="
                            loader: ys.loaders.propertyLoader,
                            valueField:'PropertyID',
                            textField:'PropertyName',
                            panelHeight:'auto',
                            required:true
                    "></td>
                </tr><tr class="fitem">
                <td>所属社区:</td>
                <td><input class="easyui-combobox"
                           name="CommunityID"
                           style="width:300px"
                           data-options="
                            loader: ys.loaders.communityLoader,
                            valueField:'CommunityID',
                            textField:'CommunityName',
                            panelHeight:'auto',
                            required:true
                    "></td>
                </tr>
                <tr>
                    <td>备注:</td>
                    <td><textarea name="Remarks" class="easyui-textarea"></textarea></td>
                </tr>
            </table>
        </form>
    </div>
    <div id="villageMapCt" class="pull-left" style="width:440px;height:500px;"></div>
</div>
<div id="editVillageDlgBtns">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="ys.modules.Village.saveMainItem()" style="width:90px">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('.easyui-dialog').dialog('close')" style="width:90px">取消</a>
</div>

<script>
ys.modules.Village =  (function(){
    var metroLines = [];
    var map = null;

    function loadMainData(){
        var mainTb = $('#villageTab');
        var params = $.form2JsonNotNull(mainTb.find('.top-search-form'));
        $.ajax({
            url: '/YSService/VillageService/GetDataList',
            method: 'POST',
            data: JSON.stringify(params),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (resp) {
                mainTb.find('table.main').datagrid('loadData', {
                    total: resp.length,
                    rows: resp
                });
            },
            error: function (XMLHttpRequest, textStatus, thrownError) {
                alert("Error Occured!");
            }
        });
    };

    function addMainItem(){
        var dlg = $('#editVillageDlg'), form = dlg.find('form');
        dlg.dialog('open').dialog('center').dialog('setTitle','新增小区');
        form.form('clear')
        form.form('load', {VillageID: 0});
        initMap();
        map.clearOverlays();
    };

    function editMainItem() {
        var dlg = $('#editVillageDlg'), form = dlg.find('form'), mainTbl = $('#villageTab').find('table.main');
        if(mainTbl.datagrid('getSelections').length < 1){
            $.messager.alert('提示','请先选择要编辑的数据','info');
            return;
        }
        dlg.dialog('open').dialog('center').dialog('setTitle','编辑小区');
        var data = mainTbl.datagrid('getSelected');
        form.form('load', data);
    };

    function saveMainItem(){
        var dlg = $('#editVillageDlg'), form = dlg.find('form');
        if(!form.form('validate'))return;
        var formData =  form.serializeArray();
        var data = {};
        $.each(formData, function(i, v) {
            data[v.name] = v.value;
        });
        data.listMetroLine = $('#editVillageDlg').find('.easyui-combotree').combotree('getValues');
        var url = '/YSService/VillageService/Add';
        if(data['VillageID'] != '0'){
            url = '/YSService/VillageService/Update';
        }
        $.ajax({
            url: url,
            type: "POST",
            data: JSON.stringify(data),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (msg) {
                loadMainData();
                dlg.dialog('close');
            },
            error: function (XMLHttpRequest, textStatus, thrownError) {
                alert("Error Occured!");
            }
        });
    };

    function deleteMainItem(){
        var mainTbl = $('#villageTab').find('table.main');
        if(mainTbl.datagrid('getSelections').length < 1){
            $.messager.alert('提示','请先选择要删除的数据','info');
            return;
        }
        var data = mainTbl.datagrid('getSelected');
        $.messager.confirm('确认','确认删除?',function(r){
            if (r){
                $.ajax({
                    url: '/YSService/VillageService/Delete',
                    type: "POST",
                    data: JSON.stringify({CommunityID: data.CommunityID}),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (msg) {
                        loadMainData();
                    },
                    error: function (XMLHttpRequest, textStatus, thrownError) {
                        alert("Error Occured!");
                    }
                });
            }
        });
    };

    function onMetroLineChange(){
        var result = [];
        var nodes = $('#editVillageDlg').find('.easyui-combotree').combotree('getChecked');
        for(var i = 0; i < nodes.length; ++i){
            result.push({
                MetroLineID: node.getParent().id,
                MetroLineName: node.getParent().text,
                MetroStationID: node.id,
                MetroStationName: node.text
            });
        }
        metroLines = result;
    };

    function initMap(){
        if(!map){
            map = new BMap.Map("villageMapCt");    // 创建Map实例
            map.centerAndZoom("上海", 16);  // 初始化地图,设置中心点坐标和地图级别
            map.addControl(new BMap.NavigationControl());  //添加地图缩放控件
            //map.setCurrentCity("上海");          // 设置地图显示的城市 此项是必须设置的
            map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
            map.addEventListener("click", function (e) {
                map.clearOverlays();
                var pt = e.point;
                var form = $('#editVillageDlg').find('form');
                //$scope.newCar.depot.lng = e.point.lng;
                // $scope.newCar.depot.lat = e.point.lat;
                var marker = new BMap.Marker(pt, {});  // 创建标注
                map.addOverlay(marker);
                form.form('load', {Lat: pt.lat, Lng: pt.lng, GpsPosition: pt.lng + ', ' + pt.lat});

                var gc = new BMap.Geocoder();
                gc.getLocation(pt, function (rs) {
                    var addComp = rs.addressComponents;
                    var result = addComp.district + ", " + addComp.street;
                    if (addComp.streetNumber) {
                        result += ", " + addComp.streetNumber;
                    }
                    form.form('load', {VillageAddress: result});
                });
            });
        }
    };

    return {
        loadMainData: loadMainData,
        addMainItem: addMainItem,
        editMainItem: editMainItem,
        saveMainItem: saveMainItem,
        deleteMainItem: deleteMainItem,
        onMetroLineChange: onMetroLineChange
    };
})();

window.grid.cfg.village = {
    singleSelect:true,
    rownumbers: true,
    pagination: true,
    fit: true,
    columns:[[
        {field:'VillageName',title:'小区名称',width:100},
        {field:'VillArea',title:'区',width:70, formatter: function(v){return ys.Constant.SH_AREAS[v-1].text;}},
        {field:'VillRaod',title:'路',width:70},
        {field:'VillNong',title:'弄',width:70},
        {field:'VillageAddress',title:'小区地址',width:100},
        {field:'StrMetroLine',title:'地铁信息',width:150},
        {field:'PropertyName',title:'物业公司',width:100, formatter:function(v,r){return r.PropertyInfo.PropertyName;}},
        {field:'PropertyPhone',title:'物业联系电话:',width:100, formatter:function(v,r){return r.PropertyInfo.Phone;}},
        {field:'PropertyAddress',title:'物业地址',width:100, formatter:function(v,r){return r.PropertyInfo.Address;}},
        {field:'Remarks',title:'备注',width:100}
    ]],
    toolbar: [{
        id: '',
        text: '新增',
        iconCls: 'icon-add',
        handler: ys.modules.Village.addMainItem
    }, "-", {
        id: '',
        text: '编辑',
        iconCls: 'icon-edit',
        handler: ys.modules.Village.editMainItem
    }, "-", {
        id: '',
        text: '删除',
        iconCls: 'icon-remove',
        handler: ys.modules.Village.deleteMainItem
    }, "-"]
};

ys.modules.Village.loadMainData();
</script>