<div class="easyui-layout" data-options="fit:true">
    <div class="chart-wrapper" data-options="region:'center'">
        <div class="chart-container"></div>
        <div class="tips-container"></div>
    </div>
</div>

<script>
ys.modules.Yyfx =  (function(){
    function initReport(){
        $.ajax({
            url: '/YSService/ReportService/GetRoomReportInfo',
            type: "GET",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (resp) {
                var tips = '<div>' +
                        '<p><strong>所有房间：</strong>' + resp.RoomCount + '</p>' +
                        '<p><strong>可租房间：</strong>' + resp.WaitCount + '</p>' +
                        '<p><strong>已租房间：</strong>' + resp.CheckCount + '</p>' +
                        '<p><strong>预定房间：</strong>' + resp.OrderCount + '</p>' +
                        '<p><strong>平均租金：</strong>' + resp.AvgRent + '</p>'+
                        '<p><strong>出租率：</strong>' + resp.RentalRate + '</p></div>';
                $('#yyfxTab .chart-container').highcharts({
                    legend: {
                        align: 'right',
                        layout: 'vertical',
                        backgroundColor: '#FFFFFF',
                        verticalAlign: 'top',
                        labelFormatter: function () {
                            return this.name;
                        }
                    },
                    chart: {
                        type: 'pie'
                    },
                    title: {
                        text: '运营分析'
                    },
                    series: [{
                        name: '数量',
                        colorByPoint: true,
                        data: [{
                            name: '已租房间',
                            y: resp.CheckCount
                        }, {
                            name: '未租房间',
                            y: resp.WaitCount,
                            sliced: true,
                            selected: true
                        }, {
                            name: '预订房间',
                            y: resp.OrderCount
                        }]
                    }]
                });
                $('#yyfxTab .tips-container').html(tips);
            },
            error: function (XMLHttpRequest, textStatus, thrownError) {
                alert("Error Occured!");
            }
        });
    };

    return {
        initReport: initReport
    };
})();

(function(){
    ys.modules.Yyfx.initReport();
})();
</script>